.main {
  section {
    h2 {
      text-align: center;
    }
  }
  .banner {
    background-image: url("../../../img/banner-vacancy.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
    &__wrap {
      padding-top: 165px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      @include fontSize35;
      margin-bottom: 40px;
      max-width: 725px;
      font-weight: 800;
      line-height: 45px;
      text-align: center;
      color: var(--white-color);
    }
    &__link {
      @include contentButton;
    }
  }
  .why {
    padding-top: 100px;
    padding-bottom: 100px;
    &__title {
      margin-bottom: 100px;
    }
    &__list {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 260px));
      justify-content: center;
      gap: 110px;
    }
    &__item {
      padding-top: 81px;
      background-repeat: no-repeat;
      background-position: top center;
      text-align: center;
      line-height: 28px;
      &:first-child {
        background-image: url("../../../img/vacancy-why-1.svg");
      }
      &:nth-child(2) {
        background-image: url("../../../img/vacancy-why-2.svg");
      }
      &:nth-child(3) {
        background-image: url("../../../img/vacancy-why-3.svg");
      }
      &:nth-child(4) {
        background-image: url("../../../img/vacancy-why-4.svg");
      }
      &:nth-child(5) {
        background-image: url("../../../img/vacancy-why-5.svg");
      }
      &:last-child {
        background-image: url("../../../img/vacancy-why-6.svg");
      }
    }
  }
  .about {
    &__img {
      display: block;
      margin: 0 auto;
      max-width: 906px;
    }
  }
  .vacancy {
    &__input {
      width: 700px;
      display: block;
      margin: 0 auto 114px auto;
      padding: 18px 60px 18px 35px;
      border: 1px solid var(--grey-form-color);
      border-radius: 100px;
      background-image: url("../../../img/search.svg");
      background-repeat: no-repeat;
      background-position: 96% center;
      &::placeholder {
        color: var(--footer-title-color);
      }
    }
    &__item {
      .vacancy__item-button {
        @include contentButton;
        @include fontSize14;
        margin-bottom: 50px;
      }
      &.ac {
        border: none;
        &:not(:last-child) {
          border-bottom: 1px solid var(--black-color) !important;
        }
        .price {
          @include fontSize18;
          margin-top: 12px;
          margin-bottom: 47px;
          padding: 2px 12px;
          font-weight: 800;
          border-radius: 100px;
          background-color: var(--yellow-color);
        }
        .address {
          @include fontSize16;
          width: 749px;
          margin-bottom: 40px;
          padding: 3px 0 3px 40px;
          font-weight: 800;
          background-image: url("../../../img/tag.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }
        .job {
          @include fontSize16;
          width: 749px;
          font-weight: 500;
          line-height: 24px;
          span {
            @include fontSize16;
            display: block;
            font-weight: 800;
            margin-bottom: 10px;
          }
        }
      }
      .ac {
        &-trigger {
          @include fontSize24;
          padding: 40px 0 50px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-weight: 900;
          font: unset;
          &:focus {
            color: unset;
          }
        }
        &-panel {
          .job {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .banner {
      height: 480px;
      &__wrap {
        padding-top: 152px;
      }
      &__title {
        margin-bottom: 35px;
      }
    }
    .why {
      padding-top: 84px;
      padding-bottom: 180px;
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .banner {
      height: 390px;
      &__wrap {
        padding-top: 112px;
      }
      &__title {
        margin-bottom: 30px;
      }
    }
    .why {
      padding-top: 60px;
      padding-bottom: 160px;
      &__list {
        gap: 80px;
        grid-template-columns: repeat(auto-fit, minmax(206px, 221px));
      }
    }
    .vacancy {
      &__input {
        width: 100%;
        max-width: 634px;
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .why {
      &__list {
        gap: 80px 20px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 208px));
      }
      &__item {
        line-height: 25px;
      }
    }
    .vacancy {
      &__input {
        max-width: unset;
      }
      &__item {
        &.ac {
          .address {
            width: 100%;
          }
          .job {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .main {
    .banner {
      height: 470px;
      &__title {
        line-height: 40px;
      }
    }
    .why {
      padding-top: 50px;
      padding-bottom: 80px;
      &__title {
        margin-bottom: 40px;
      }
      &__list {
        gap: 35px;
      }
      &__item {
        padding-top: 0;
        padding-left: 60px;
        background-position: left center;
        background-size: 40px;
        text-align: left;
      }
    }
    .about {
      display: none;
    }
    .vacancy {
      &__input {
        padding: 17px 25px;
        margin-bottom: 45px;
      }
      &__item {
        &.ac {
          .name {
            line-height: 32px;
          }
          .address {
            background: unset;
            padding-left: 0;
          }
        }
        &-button {
          width: 100%;
        }
      }
    }
  }
}
