.main {
  .banner {
    height: 546px;
    margin-bottom: 44px;
    background-image: url("../../../img/history-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__wrap {
      padding-top: 80px;
    }
    &__title {
      position: relative;
      margin-bottom: 0;
      padding: 60px 0 40px;
      color: var(--white-color);
      font-size: 60px;
      font-weight: 900;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 2px;
        background-color: var(--yellow-color);
        animation: move 1s 1;
        @keyframes move {
          0% {
            width: 0;
          }
          100% {
            width: 150px;
          }
        }
      }
    }
    &__text {
      width: 700px;
      line-height: 28px;
      color: var(--white-color);
    }
  }
  .history {
    position: relative;
    display: flex;
    align-items: flex-start;
    &__wrap {
      width: 100%;
    }
    &__title {
      @include fontSize20;
      max-width: 825px;
      font-weight: 800;
      margin-bottom: 28px;
    }
    &__text {
      max-width: 825px;
      line-height: 28px;
      &:not(:last-child) {
        margin-bottom: 28px;
      }
    }
    &__img {
      position: absolute;
      top: 30px;
      right: 0;
      width: 732px;
    }
  }
}
