.main {
  .navigation {
    width: 100%;
  }
  .viewblog {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      max-width: 948px;
      &-img {
        margin-bottom: 20px;
      }
      &-date {
        @include fontSize12;
        margin-bottom: 9px;
        color: var(--dark-grey-color);
      }
      &-title {
        @include fontSize24;
        margin-bottom: 14px;
        font-weight: 900;
      }
      &-text {
        @include fontSize14;
        margin-bottom: 27px;
        line-height: 22px;
      }
    }
    &__aside {
      &-list {
        height: 531px;
        width: 350px;
      }
      &-title {
        @include fontSize19;
        margin-bottom: 25px;
        font-weight: 800;
      }
      &-link {
        display: flex;
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
      &-next,
      &-prev {
        display: none;
      }
    }
  }
  .goods {
    margin-bottom: 70px;
    &__wrap {
      .swiper {
        padding: 5px 30px;
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__list {
      max-width: 948px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .viewblog {
      &__item {
        max-width: 831px;
      }
      &__aside {
        &-list {
          width: 250px;
          height: 463px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .viewblog {
      .swiper {
        padding: 0 35px;
      }
      &__item {
        max-width: 100%;
      }
      &__aside {
        &-list {
          height: unset;
          width: 100%;
        }
      }
      &__swiper-button {
        &-next,
        &-prev {
          display: block;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .viewblog {
      .swiper {
        padding: 0;
      }
      &__item {
        display: flex;
        flex-direction: column;
        &-date {
          order: 1;
        }
        &-img {
          order: 2;
        }
        &-text {
          order: 3;
        }
      }
      &__swiper-button {
        &-next,
        &-prev {
          display: none;
        }
      }
    }
    .goods {
      .swiper {
        padding: 0;
      }
    }
  }
}