.main {
  .viewblog {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      max-width: 948px;
      &-img {
        margin-bottom: 20px;
      }
      &-date {
        @include fontSize12;
        margin-bottom: 9px;
        color: var(--dark-grey-color);
      }
      &-title {
        @include fontSize24;
        margin-bottom: 14px;
        font-weight: 900;
      }
      &-text {
        @include fontSize14;
        margin-bottom: 27px;
        line-height: 22px;
      }
    }
    &__aside {
      height: 531px;
      align-self: stretch;
      overflow: scroll;
      &-title {
        @include fontSize19;
        margin-bottom: 25px;
        font-weight: 800;
      }
      &-link {
        display: flex;
      }
      &-item {
        &:not(:last-child) {
          margin-bottom: 35px;
        }
      }
    }
  }
  .goods {
    margin-bottom: 70px;
    &__wrap {
      .swiper {
        padding: 5px 30px;
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__list {
      max-width: 948px;
      display: flex;
      justify-content: space-between;
    }
  }
}