.main {
  .navigation {
    margin-bottom: 20px;
  }
  .card {
    &__wrap {
      position: relative;
    }
    &__logo {
      position: absolute;
      top: 50px;
      right: 120px;
      width: 123px;
    }
    &__code {
      &-wrap {
        margin-bottom: 20px;
        display: flex;
      }
      &-article {
        @include fontSize13;
        span {
          font-weight: 700;
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    &__warning {
      &-wrap {
        width: 100%;
        padding: 24px;
        margin-bottom: 35px;
        border: 1px solid var(--red-color);
        border-radius: 10px;
      }
      &-text {
        @include fontSize15;
        font-weight: 800;
        color: var(--red-color);
        text-align: center;
      }
    }
    &__info {
      &-wrap {
        display: flex;
      }
      &-stats {
        margin-bottom: 25px;
        &-wrap {
          .dot {
            @include fontSize13;
            width: 256px;
            color: var(--darkness-white-color);
            &__value {
              color: var(--black-color);
            }
            &::after {
              @include fontSize13;
            }
            &:not(:last-child) {
              margin-bottom: 6px;
            }
          }
        }
      }
      &-title {
        @include fontSize15;
        display: inline-block;
        margin-right: 60px;
        font-weight: 800;
        margin-bottom: 10px;
      }
      &-button {
        @include fontSize13;
        cursor: pointer;
      }
      &-sizes {
        margin-bottom: 26px;
        .choices {
          &__inner {
            @include fontSize13;
            background: unset;
            border-radius: 6px;
            border: 1px solid var(--border-color);
          }
          &__list {
            &--single {
              padding: 6px 16px 4px 12.5px;
            }
            &--dropdown {
              border-radius: 6px;
              z-index: 10;
            }
          }
          &__item {
            padding-right: 0 !important;
            font-size: 13px !important;
          }
          &::after {
            border-color: var(--grey-form-color) transparent transparent;
          }
          &.is-open {
            &::after {
              border-color: transparent transparent var(--grey-form-color);
            }
            .choices__list--dropdown {
              border-color: var(--border-color);
            }
          }
        }
      }
      &-social {
        &-text {
          @include fontSize12;
          margin-bottom: 11px;
        }
        &-list {
          display: flex;
        }
        &-item {
          &:not(:last-child) {
            margin-right: 14px;
          }
        }
        &-link {
          display: block;
          width: 26px;
          height: 26px;
          background-repeat: no-repeat;
          background-size: contain;
          &.vk {
            background-image: url('../../../img/vk-grey.svg');
          }
          &.tg {
            background-image: url('../../../img/tg-grey.svg');
          }
          &.whatsapp {
            background-image: url('../../../img/whatsapp-grey.svg');
          }
          &.ok {
            background-image: url('../../../img/ok-grey.svg');
          }
        }
      }
    }
    &__img {
      &-wrap {
        position: relative;
        display: flex;
        margin-right: 70px;
        .cards-item__button-wrap {
          z-index: 1;
        }
        .cards-item__text-new {
          left: 150px;
          z-index: 2;
        }
      }
      &-mini {
        object-fit: contain;
        border-radius: 16px;
      }
      &-thumb {
        &-wrap {
          margin-right: 62px;
          display: block;
          max-width: 88px;
          width: 100%;
          max-height: 284px;
        }
        &-slide {
          border: 1px solid #7F7F7F;
          border-radius: 16px;
        }
      }
      &-top {
        &-wrap {
          border-radius: 6px;
          box-sizing: border-box;
          height: 350px;
          width: 517px;
        }
        &-slide {
          width: 200px;
        }
      }
    }
    &__pay {
      &-wrap {
        position: relative;
        padding: 32px 30px;
        margin-left: auto;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        .cards-item__stock-text {
          margin-bottom: 17px;
        }
      }
      &-through {
        @include fontSize15;
        margin-bottom: 4px;
        text-decoration: line-through;
      }
      &-discount {
        @include fontSize13;
        position: absolute;
        top: 32px;
        right: 30px;
        padding: 2px 10px;
        background-color: var(--yellow-color);
        border-radius: 100px;
      }
      &-price {
        @include fontSize24;
        margin-bottom: 8px;
        font-weight: 900;
      }
      &-count {
        &-wrap {
          width: 113px;
          padding: 16px 18px;
          margin-right: 16px;
          border: 1px solid var(--border-color);
          border-radius: 10px;
        }
        &-input {
          max-width: 47px;
          text-align: center;
        }
        &-button {
          &-wrap {
            display: flex;
            margin-bottom: 15px;
          }
          &-oneclick {
            @include fontSize13;
            padding: 16px 44px;
            border-radius: 10px;
            border: 1px solid var(--border-color);
          }
          &-addtocart {
            @include contentButton;
            width: 100%;
            margin-bottom: 35px;
          }
        }
        &-text {
          @include fontSize12;
          span {
            font-weight: 700;
          }
          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
  .description {
    &__tabs {
      &-list {
        @include tabsList;
      }
    }
    &__tab {
      display: none;
      padding: 67px 0;
      &-title {
        @include fontSize15;
        margin-bottom: 27px;
        font-weight: 800;
      }
      &-dots {
        max-width: 460px;
        .dot {
          @include fontSize14;
          color: var(--darkness-white-color);
          &__value {
            color: var(--black-color);
          }
          &::after {
            @include fontSize14;
          }
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
      &-stats {
        &-wrap {
          display: flex;
        }
        &-left {
          margin-right: 150px;
        }
        &-right {
          max-width: 707px;
        }
      }
      &-text {
        @include fontSize14;
        line-height: 24px;
      }
      &-set {
        &-list {
          margin-bottom: 70px;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
        &-item {
          @include fontSize13;
          padding: 5px 16px;
          border-radius: 100px;
          border: 1px solid var(--border-color);
          &.is-active {
            border-color: var(--yellow-color);
            background-color: var(--yellow-color);
          }
        }
        &-result {
          &-list {
            display: flex;
            padding-bottom: 70px;
          }
          &-swiper-button {
            @include swiperArrowsIndexPage;
          }
        }
      }
      &-review {
        display: flex;
        justify-content: space-between;
        &-result {
          height: fit-content;
          padding: 70px;
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          .not-clicked-rate {
            &-karma {
              @include fontSize22;
              margin-left: auto;
              font-weight: 900;
            }
            &-wrap {
              width: 320px;
              margin-bottom: 41px;
              label {
                font-size: 36px;
              }
            }
          }
        }
        &-list {
          width: 825px;
        }
        &-item {
          padding: 30px 0;
          &:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
          }
        }
        &-comment {
          @include fontSize14;
          line-height: 24px;
        }
        &-user {
          margin-bottom: 14px;
          display: grid;
          grid-template-columns: 50px 200px;
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 17px;
          &-avatar {
            grid-area: 1 / 1 / 3 / 2;
            width: 51px;
          }
          &-name {
            @include fontSize15;
            grid-area: 1 / 2 / 2 / 3;
            font-weight: 800;
          }
          .not-clicked-rate {
            grid-area: 2 / 2 / 3 / 3;
            &-wrap {
              margin-bottom: 0;
            }
            &-karma {
              color: var(--grey-form-color);
            }
          }
        }
        &-empty {
          display: none;
          padding-top: 85px;
          width: 346px;
          margin: auto;
          text-align: center;
          background-repeat: no-repeat;
          background-position: top center;
          background-image:url('../../../img/review-img.svg');
        }
        &-title {
          @include fontSize19;
          margin-bottom: 18px;
        }
        &-text {
          @include fontSize14;
          margin-bottom: 23px;
          line-height: 24px;
        }
        &-button {
          @include fontSize13;
          @include contentButton;
          margin: 0 auto;
          display: block;
        }
        &-starsby {
          margin-bottom: 37px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          align-self: flex-start;
          .review-row {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            margin-right: 20px;
            .label {
              @include fontSize13;
              display: flex;
              flex-flow: row;
              margin-right: 20px;
              width: 70px;
              color: var(--grey-form-color);
            }
            .percent-line {
              position: relative;
              margin-left: auto;
              width: 70%;
              height: 5px;
              border-radius: 5px;
              background-color: var(--light-grey-color);
              .line {
                position: absolute;
                left: 0;
                height: 100%;
                background-color: var(--yellow-color);
                border-radius: 2px;
                width: 80%;
              }
            }
            &-count {
              @include fontSize13;
              margin-left: 20px;
              text-align: end;
            }
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
      &-avaliability {
        &-item {
          padding: 28px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
          }
        }
        &-address {
          @include fontSize15;
          font-weight: 800;
          font-style: normal;
        }
        &-text {
          @include fontSize14;
        }
        &-button {
          @include contentButton;
          @include fontSize13;
        }
      }
      &.is-open {
        display: block;
      }
    }
  }
  .viewed {
    &__list {
      display: flex;
      padding-bottom: 70px;
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
  }
  .questions {
    padding: 57px 0;
    background-color: var(--lightness-white-color);
    &__title {
      margin-bottom: 0;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__list {
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 88px;
      }
    }
    &__link {
      @include fontSize14;
      height: 37px;
      display: block;
      padding-left: 57px;
      background-repeat: no-repeat;
      background-position: left center;
      span {
        display: block;
        margin-bottom: 2px;
        font-weight: 700;
      }
      &.call {
        background-image: url('../../../img/call-img.svg');
      }
      &.mail {
        background-image: url('../../../img/mail-img.svg');
      }
      &.write {
        background-image: url('../../../img/write-img.svg');
      }
    }
  }
}