.main {
  padding-bottom: 0;
  .card {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .navigation {
      width: 100%;
    }
    &__left {
      width: 742px;
      &-wrap {
        max-height: 500px;
        &.swiper {
          padding-left: 30px;
        }
      }
      &-pagination {
        left: 0;
        right: unset !important;
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          &-active {
            background: var(--darkness-white-color);
          }
        }
      }
      &-infoblock {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        &-text {
          @include fontSize14;
          display: inline-block;
          padding: 2px 12px;
          border-radius: 100px;
          border-width: 1px;
          border-style: solid;
          &.license {
            border-color: var(--red-color);
            color: var(--red-color);
          }
        }
        .share {
          &-wrap {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 30px;
            left: -160px;
            background: var(--white-color);
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            &.is-open {
              display: flex;
            }
          }
          &-link {
            @include fontSize14;
            padding: 14px 60px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 20px center;
            background-size: 12%;
            &:not(:last-child) {
              border-bottom: 1px solid var(--border-color);
            }
            &:hover {
              background-color: var(--light-grey-color);
            }
            &.button {
              padding: 14px 16px;
            }
            &.vk {
              background-image: url("../../../img/vk.svg");
            }
            &.tg {
              background-image: url("../../../img/telegram.svg");
            }
            &.viber {
              background-image: url("../../../img/viber.svg");
            }
          }
        }
      }
      &-slide {
        cursor: zoom-in;
      }
      &.skeleton {
        height: 500px;
      }
    }
    &__right {
      width: 571px;
      &-brand {
        @include fontSize14;
        display: inline-block;
        padding: 2px 10px;
        margin-bottom: 15px;
        background-color: var(--yellow-color);
        border-radius: 100px;
        font-weight: 700;
        &.skeleton {
          width: 70px;
          height: 20px;
        }
      }
      &-name {
        @include fontSize24;
        margin-bottom: 10px;
        font-weight: 800;
        line-height: 36px;
        &.skeleton {
          height: 72px;
        }
      }
      &-article {
        @include fontSize14;
        display: inline-block;
        margin-bottom: 30px;
        margin-right: 37px;
        &.skeleton {
          width: 212px;
          height: 20px;
        }
      }
      &-reviews {
        @include fontSize14;
        display: inline-block;
        margin-bottom: 30px;
        span {
          padding-left: 30px;
          margin-right: 16px;
          font-weight: 700;
          background-image: url("../../../img/star-active.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
        &.skeleton {
          width: 96px;
          height: 20px;
        }
      }
      &-price {
        @include fontSize20;
        margin-bottom: 10px;
        font-weight: 800;
        span {
          @include fontSize14;
          margin-left: 15px;
          font-weight: 500;
          text-decoration: line-through;
        }
        &.skeleton {
          height: 23px;
        }
      }
      &-stock {
        @include fontSize14;
        position: relative;
        margin-bottom: 38px;
        padding-left: 15px;
        &.avaliable {
          &::before {
            display: block;
            background-color: var(--green-color);
          }
        }
        &.not-avaliable {
          &::before {
            display: block;
            background-color: var(--red-color);
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          display: none;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        a {
          margin-left: 10px;
          cursor: pointer;
          text-decoration: underline;
        }
        &.skeleton {
          height: 16px;
        }
      }
      &-dots {
        @include fontSize14;
        margin-bottom: 40px;
        width: 380px;
        .dot {
          &__prop {
            color: var(--darkness-white-color);
          }
          &:not(:last-child) {
            margin-bottom: 12px;
          }
          &.skeleton {
            height: 16px;
          }
        }
      }
      &-button {
        @include contentButton;
        @include fontSize14;
        width: 100%;
        margin-bottom: 12px;
        &.skeleton {
          height: 48px;
        }
      }
      &-text {
        @include fontSize14;
        text-align: center;
        &.skeleton {
          height: 16px;
        }
      }
    }
  }
  .description {
    .accordion-container {
      .ac {
        margin-top: 0;
        border-color: var(--grey-item-color) transparent transparent transparent;
        .ac-trigger {
          font: unset;
          @include fontSize18;
          font-weight: 700;
          padding: 25px 0;
          &:focus {
            color: unset;
          }
        }
        &.skeleton {
          width: 100%;
          height: 72px;
        }
        &:last-child {
          border-color: var(--grey-item-color) transparent
            var(--grey-item-color) transparent;
        }
      }
    }
    &__panel {
      padding: 25px 0 68px;
      .swiper {
        padding: 5px 30px;
      }
    }
    &__stats {
      display: flex;
      &-left {
        margin-right: 150px;
      }
      &-right {
        max-width: 707px;
        @include fontSize14;
        line-height: 24px;
        p,
        a,
        span,
        li {
          @include fontSize14;
          line-height: 24px;
        }
        p {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        ul {
          padding-left: 20px;
        }
        li {
          list-style-type: circle;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      &-dots {
        width: 579px;
        .dot {
          @include fontSize14;
          color: var(--darkness-white-color);
          &__value {
            color: var(--black-color);
          }
          &::after {
            @include fontSize14;
          }
        }
        &.skeleton {
          width: 580px;
          height: 270px;
        }
      }
    }
    &__set {
      &-swiper-button {
        @include swiperArrowsIndexPage;
      }
    }
    &__review {
      display: flex;
      justify-content: space-between;
      &-result {
        margin-right: 10px;
        height: fit-content;
        padding: 70px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        .not-clicked-rate {
          &-karma {
            @include fontSize16;
            margin: 0;
            font-weight: 700;
          }
          &-wrap {
            width: 320px;
            margin-bottom: 41px;
            label {
              font-size: 36px;
            }
          }
        }
      }
      &-list {
        width: 825px;
      }
      &-item {
        padding: 30px 0;
      }
      &-comment {
        @include fontSize14;
        line-height: 24px;
        margin-bottom: 10px;
      }
      &-user {
        margin-bottom: 14px;
        display: grid;
        grid-template-columns: 50px 220px;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 17px;
        &-avatar {
          @include fontSize14;
          grid-area: 1 / 1 / 3 / 2;
          width: 51px;
          height: 51px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          color: var(--black-color);
          font-weight: 700;
          background-color: var(--cart-background-color);
          text-transform: uppercase;
        }
        &-name {
          @include fontSize15;
          grid-area: 1 / 2 / 2 / 3;
          font-weight: 800;
        }
        .not-clicked-rate {
          grid-area: 2 / 2 / 3 / 3;
          &-wrap {
            margin-bottom: 0;
          }
          &-karma {
            color: var(--grey-form-color);
          }
        }
      }
      &-empty {
        display: none;
        padding-top: 85px;
        width: 346px;
        margin: auto;
        text-align: center;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url("../../../img/review-img.svg");
      }
      &-text {
        @include fontSize14;
        margin-bottom: 23px;
        line-height: 24px;
      }
      &-button {
        @include fontSize13;
        @include contentButton;
      }
      &-starsby {
        margin-bottom: 37px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-self: flex-start;
        .review-row {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          margin-right: 20px;
          .label {
            @include fontSize14;
            display: flex;
            flex-flow: row;
            margin-right: 20px;
            width: 70px;
            color: var(--grey-form-color);
          }
          .percent-line {
            position: relative;
            margin-left: auto;
            width: 70%;
            height: 5px;
            border-radius: 5px;
            background-color: var(--light-grey-color);
            .line {
              position: absolute;
              left: 0;
              height: 100%;
              background-color: var(--yellow-color);
              border-radius: 2px;
              width: 80%;
            }
          }
          &-count {
            @include fontSize13;
            margin-left: 20px;
            text-align: end;
          }
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
      &-date {
        @include fontSize14;
        color: var(--darkness-white-color);
      }
    }
    &__avaliability {
      &-list {
        height: 373px;
        overflow-x: hidden;
      }
      &-item {
        &:not(:last-child) {
          border-bottom: 1px solid var(--border-color);
        }
      }
      &-address {
        @include fontSize14;
        font-style: normal;
      }
      &-text {
        @include fontSize13;
        font-weight: 700;
      }
      &-link {
        padding: 10px 30px 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: background-color 0.2s ease;
        &:hover {
          background-color: var(--cart-background-color);
        }
      }
    }
  }
  .viewed {
    &__list {
      display: flex;
    }
    .swiper {
      padding: 5px 30px;
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
  }
  .questions {
    padding: 57px 0;
    background-color: var(--lightness-white-color);
    &__title {
      @include fontSize20;
      margin-bottom: 0;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__list {
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 88px;
      }
    }
    &__link {
      @include fontSize14;
      height: 37px;
      display: block;
      padding-left: 57px;
      background-repeat: no-repeat;
      background-position: left center;
      span {
        display: block;
        margin-bottom: 8px;
        font-weight: 700;
      }
      &.call {
        background-image: url("../../../img/call-img.svg");
      }
      &.mail {
        background-image: url("../../../img/mail-img.svg");
      }
      &.write {
        background-image: url("../../../img/write-img.svg");
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .card {
      &__left {
        width: 708px;
      }
      &__right {
        width: 460px;
      }
    }
    .description {
      &__stats {
        &-left {
          width: 447px;
          margin-right: 45px;
        }
        &-dots {
          width: unset;
        }
      }
      &__review {
        &-list {
          width: 708px;
          margin-right: 20px;
        }
        &-result {
          padding: 45px 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1439px) {
  .main {
    .card {
      &__left {
        width: 640px;
      }
    }
  }
}

@media only screen and (max-width: 1365px) {
  .main {
    .card {
      &__left {
        width: 444px;
        display: flex;
        align-items: center;
        &-wrap {
          max-height: 295px;
        }
      }
      &__right {
        width: 100%;
        max-width: 350px;
      }
    }
    .description {
      &__stats {
        flex-direction: column;
        &-dots {
          margin-bottom: 31px;
        }
        &-right {
          width: 100%;
          max-width: unset;
        }
      }
      &__review {
        &-list {
          margin-right: 94px;
        }
        &-result {
          padding: 45px 50px;
          .not-clicked-rate-wrap {
            width: 250px;
          }
        }
        &-starsby {
          .review-row {
            .label {
              width: 90px;
              margin-right: 17px;
            }
            &-count {
              margin-left: 17px;
            }
          }
        }
      }
    }
    .questions {
      display: none;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main {
    .card {
      &__wrap {
        flex-direction: column;
      }
      &__left {
        width: 100%;
        &-wrap {
          margin-bottom: 30px;
          max-height: 450px;
          &.swiper {
            padding-left: 0;
          }
        }
      }
      &__right {
        max-width: unset;
        &-dots {
          display: none;
        }
      }
    }
    .description {
      &__review {
        flex-direction: column;
        &-list {
          order: 1;
        }
        &-result {
          margin-left: 10px;
          margin-bottom: 90px;
          padding: 53px 70px;
          display: grid;
          grid-template-columns: 175px 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0 80px;
          .not-clicked-rate {
            &-wrap {
              grid-area: 1 / 1 / 2 / 2;
              margin-bottom: 0;
            }
          }
        }
        &-button {
          width: 154px;
          grid-area: 2 / 1 / 3 / 2;
        }
        &-starsby {
          margin-bottom: 0;
          grid-area: 1 / 2 / 3 / 3;
          .review-row {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .card {
      &__img {
        &-big {
          min-height: 270px;
          object-fit: contain;
        }
      }
      &__right {
        &-name {
          line-height: 32px;
        }
        &-article {
          display: block;
          margin-bottom: 10px;
          margin-right: 0;
        }
        &-reviews {
          span {
            padding-left: 20px;
            background-position: left center;
          }
        }
        &-text {
          width: 210px;
          margin: 0 auto;
          text-align: center;
          line-height: 25px;
        }
      }
    }
    .description {
      &__panel {
        padding: 10px 0 40px;
      }
      &__stats {
        &-left {
          width: 100%;
        }
      }
      &__review {
        &-result {
          margin-bottom: 40px;
          padding: 35px 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .not-clicked-rate {
            &-wrap {
              width: 100%;
              margin-bottom: 16px;
              order: 1;
            }
            &-karma {
              margin: 0 auto;
            }
          }
        }
        &-button {
          margin-bottom: 57px;
          order: 2;
        }
        &-list {
          width: 100%;
        }
        &-starsby {
          width: 100%;
          order: 3;
        }
      }
      &__avaliability {
        &-link {
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }
  }
}
