.main {
  .article {
    &__text {
      @include fontSize15;
      max-width: 1071px;
      line-height: 28px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    &__subtitle {
      @include fontSize13;
      max-width: 1071px;
      display: inline-block;
      margin-bottom: 30px;
    }
    &__title {
      @include fontSize30;
      max-width: 1071px;
      margin-bottom: 20px;
    }
    &__img {
      margin-bottom: 40px;
      max-width: 1071px;
    }
  }
  .goods {
    &__wrap {
      .swiper {
        padding: 5px 30px;
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__list {
      max-width: 948px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main {
    .goods {
      &__wrap {
        .swiper {
          padding: 0;
        }
      }
      &__swiper-button-prev,
      &__swiper-button-next {
        display: none;
      }
    }
  }
}
