.main {
  .article {
    max-width: 943px;
    margin: 0 auto 50px;
    &__text {
      @include fontSize15;
      line-height: 28px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    &__subtitle {
      @include fontSize13;
      display: inline-block;
      margin-bottom: 30px;
    }
    &__title {
      @include fontSize30;
      margin-bottom: 20px;
    }
    &__img {
      margin-bottom: 40px;
    }
  }
  .goods {
    &__wrap {
      .swiper {
        padding: 5px 30px;
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__list {
      max-width: 948px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 1365px) {
  .main {
    .article {
      max-width: 1320px;
      padding: 0 100px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main {
    .article {
      max-width: 924px;
      padding: 0 50px;
    }
    .goods {
      &__wrap {
        .swiper {
          padding: 0;
        }
      }
      &__swiper-button-prev,
      &__swiper-button-next {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .article {
      max-width: 736px;
      padding: 0 16px;
    }
  }
}