.main {
  .detail {
    &__columns {
      margin-bottom: 100px;
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
    &__title {
      display: inline-block;
      margin-right: 20px;
    }
    &__subtitle {
      @include fontSize14;
      &-wrap {
        display: inline-block;
      }
      &.skeleton {
        margin-bottom: 40px;
        width: 100px;
        height: 25px;
      }
    }
    &__filters {
      flex: 0 1 246px;
      transition: opacity 0.2s ease;
      &-wrap {
        transition: transform 0.2s ease;
      }
    }
    &__cards {
      flex: 1 1 auto;
      width: 50%;
      &-text {
        @include fontSize14;
      }
      &-filters {
        @include contentScroll;
        padding-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        margin-bottom: 25px;
      }
      &-filter {
        @include fontSize14;
        position: relative;
        padding: 6px 38px 6px 20px;
        border-radius: 100px;
        background-color: var(--cart-background-color);
        &-close {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translate(0, -50%);
          width: 18px;
          height: 18px;
          background-image: url("../../../img/close-filter.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        &-open {
          display: none;
          width: 35px;
          height: 35px;
          background-image: url("../../../img/filter-icon.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
        .goods-not-found {
          &__wrap {
            text-align: center;
          }
          &__text {
            margin-bottom: 15px;
          }
        }
        .swiper-slide {
          width: 25%;
          height: 100%;
        }
        .card-item__photo {
          aspect-ratio: 1/1;
        }
      }
      &-swiper-pagination {
        .swiper-pagination-bullet {
          @include fontSize14;
          padding-top: 5px;
          margin: 0 10px !important;
          width: 35px;
          height: 35px;
          background-color: var(--light-grey-color);
          opacity: unset;
          &-active {
            background-color: var(--primary-color);
          }
        }
      }
      &-item {
        .card-item__photo {
          mix-blend-mode: multiply; // убрать потом
        }
      }
    }
    &__filter {
      &-all {
        margin-bottom: 35px;
      }
      &-title {
        @include fontSize18;
        margin-bottom: 20px;
        &.skeleton {
          width: 246px;
          height: 28px;
        }
      }
      &-list {
        @include contentScroll;
        max-height: 120px;
        overflow-x: hidden;
        &.category-list {
          max-height: 500px; // сделать гибкость
        }
        &.subcategory-list {
          padding-left: 20px;
        }
      }
      &-item {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        &.skeleton {
          width: 246px;
          height: 25px;
        }
      }
      &-input {
        @include contentInput;
        @include fontSize14;
        margin-bottom: 23px;
        padding: 9px 25px;
        border: 1px solid var(--secondary-color);
        border-radius: 100px;
        &-wrap {
          position: relative;
          .detail__filter-input {
            margin-bottom: 0;
            padding: 9px 25px 9px 50px;
          }
          &:not(:last-child) {
            margin-bottom: 23px;
          }
        }
        &-text {
          position: absolute;
          top: 50%;
          left: 25px;
          transform: translate(0, -50%);
          &.symbol {
            left: unset;
            right: 20px;
          }
        }
      }
      &-button {
        @include contentButton;
        @include fontSize14;
        margin-bottom: 40px;
        padding: 12px;
        width: 100%;
        background-color: transparent;
        border: 2px solid var(--black-color);
        border-radius: 100px;
        &.skeleton {
          width: 246px;
          height: 53px;
          border: none;
        }
      }
      .choices {
        &__inner {
          @include fontSize14;
          padding: 0;
          min-height: 30px;
          background: unset;
          border-radius: 100px;
          border: 1px solid var(--secondary-color);
          transition: border-radius 0.2s ease;
        }
        &__list {
          &--single {
            padding: 10px 75px 2px 25px;
          }
          &--dropdown {
            background: var(--white-color);
            box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.08);
            border-radius: 20px;
            border: none;
            .choices__placeholder {
              display: none;
            }
            .choices__item--selectable {
              &.is-highlighted {
                background-color: var(--cart-background-color);
              }
            }
          }
        }
        &__item {
          @include fontSize14;
          &--choice {
            padding: 8px 25px !important;
          }
        }
        &::after {
          border-color: var(--secondary-color) transparent transparent;
          right: 20px;
        }
        &.is-open {
          &.is-flipped {
            .choices__inner {
              border-radius: 100px;
            }
            .choices__list {
              top: inherit;
              bottom: inherit;
            }
          }
          &::after {
            border-color: transparent transparent var(--secondary-color);
          }
          .choices__list--dropdown {
            border-color: var(--border-color);
          }
        }
      }
      .ac {
        width: 100%;
        margin-top: 0;
        border: none;
        .ac-header {
          padding: 0;
        }
        .ac-trigger {
          font: unset;
          @include fontSize18;
          padding: 0;
          &:focus {
            color: unset;
          }
        }
        &-panel {
          &-wrap {
            padding: 20px 0;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__close {
      display: none;
      @include closeButton;
      top: 26px;
      right: 26px;
      width: 30px;
      height: 30px;
    }
    .swiper-button {
      @include swiperArrowsIndexPage;
    }
    .swiper-recommended {
      margin-bottom: 60px;
    }
    .pagination-list {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        cursor: pointer;
        margin: 0 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: background 0.2s ease;
        &.active {
          background-color: var(--primary-color);
        }
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

@media only screen and (max-width: 1439px) {
  .main {
    .detail {
      &__cards {
        &-list {
          .card-item {
            width: 33%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1365px) {
  .main {
    .detail {
      &__title {
        margin-right: 0;
      }
      &__wrap {
        .detail__cards-filter-open {
          display: inline-block;
        }
      }
      &__subtitle {
        &-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      &__columns {
        display: block;
      }
      &__filters {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        &-background {
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
        }
        &-wrap {
          position: absolute;
          top: 0;
          left: 0;
          width: 420px;
          background-color: var(--white-color);
          height: 100vh;
          padding: 40px 50px;
          overflow-x: hidden;
          transform: translateX(-100%);
        }
      }
      &__cards {
        width: 100%;
        &-filters {
          .detail__cards-filter-open {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .detail {
      &__cards {
        &-list {
          gap: 30px;
          .card-item {
            width: 30%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .main {
    .detail {
      &__subtitle {
        &-wrap {
          margin-bottom: 30px;
        }
      }
      &__cards {
        margin-bottom: 30px;
        &-filter {
          display: none;
        }
        &-list {
          gap: 20px;
          margin-bottom: 70px;
        }
      }
      &__filters {
        &-wrap {
          width: 100%;
          padding: 26px 26px 76px;
        }
      }
      &__close {
        display: block;
      }
    }
  }
}
@media only screen and (max-width: 559px) {
  .main {
    .detail {
      &__cards {
        &-list {
          gap: 15px;
          .card-item {
            width: 47%;
          }
        }
      }
    }
  }
}
