.main {
  background-color: var(--cart-background-color);
  .aboutapp {
    padding-top: 0;
    margin-bottom: 100px;
    background-image: url("../../../img/background-app.png");
    background-size: 100% 80%;
    &__text {
      padding: 50px 0 32px 0;
      background: unset;
    }
    &__img {
      margin-right: 0;
    }
    &__wrap {
      &-list {
        margin-bottom: 50px;
      }
    }
    &__qr {
      &-wrap {
        width: 320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px;
        border-radius: 15px;
        background-color: var(--white-color);
      }
      &-img {
        margin-bottom: 10px;
        margin-right: 23px;
        width: 103px;
      }
      &-text {
        font-size: 11px;
        line-height: 18px;
      }
    }
  }
  .more {
    margin-bottom: 118px;
    &__wrap {
      display: flex;
      align-items: center;
    }
    &__img {
      width: 702px;
      margin-right: 155px;
    }
    &__text {
      @include fontSize30;
      width: 334px;
      font-weight: 900;
      line-height: 40px;
      span {
        padding: 6px 10px;
        border-radius: 100px;
        background-color: var(--yellow-color);
      }
    }
  }
  .sales {
    &__title {
      text-align: center;
      span {
        padding: 6px 10px;
        border-radius: 100px;
        background-color: var(--yellow-color);
      }
    }
    &__list {
      display: flex;
      gap: 35px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      padding: 91px 0 28px 35px;
      width: 334px;
      height: 455px;
      border-radius: 15px;
      background-color: #edf1f4;
      &-img {
        height: 200px;
        object-fit: cover;
      }
      &-text {
        @include fontSize20;
        margin: auto 0 7px;
        font-weight: 800;
      }
      &-discount {
        font-size: 35px;
        font-weight: 900;
      }
    }
  }
  .order {
    background-image: url("../../../img/background-order-app.svg");
    background-repeat: no-repeat;
    background-size: 560px;
    background-position: center center;
    &__wrap {
      display: flex;
      justify-content: space-around;
      &-item {
        width: 560px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
          @include fontSize30;
          width: 230px;
          font-weight: 900;
          line-height: 40px;
          &.text--right {
            text-align: right;
          }
        }
        &-img {
          width: 298px;
        }
        &:nth-child(2) {
          padding-top: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
}
