.main {
  .banner {
    background-image: url('../../../img/opt-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &__wrap {
      padding-top: 119px;
      padding-bottom: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      margin-bottom: 33px;
      line-height: 55px;
      font-weight: 900;
      font-size: 40px;
      color: var(--white-color);
      text-align: center;
    }
    &__link {
      @include contentButton;
      @include fontSize14;
    }
  }
  .description {
    &__wrap {
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      justify-content: space-around;
    }
    &__item {
      padding-top: 87px;
      width: 170px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: top center;
      &-title {
        @include fontSize17;
        margin-bottom: 14px;
        font-weight: 900;
      }
      &:first-child {
        background-image: url('../../../img/opt-img.svg');
      }
      &:nth-child(2) {
        background-image: url('../../../img/opt-img-2.svg');
      }
      &:nth-child(3) {
        background-image: url('../../../img/opt-img-3.svg');
      }
      &:last-child {
        background-image: url('../../../img/opt-img-4.svg');
      }
    }
  }
  .blank {
    &__wrap {
      max-width: 942px;
    }
    &__title {
      margin-bottom: 70px;
      text-align: center;
    }
    &__form {
      &-item {
        margin-bottom: 80px;
        .input-wrap {
          padding: 8px 0;
          width: 100%;
          border-bottom: 2px solid var(--border-color);
          input {
            @include fontSize14;
          }
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
        &:nth-child(5) {
          .blank__form-title {
            margin-bottom: 10px;
          }
        }
      }
      &-title {
        @include fontSize17;
        margin-bottom: 40px;
        font-weight: 800;
      }
      &-text {
        @include fontSize14;
        margin-bottom: 50px;
      }
      &-button {
        @include contentButton;
        @include fontSize14;
      }
      &-subtext {
        @include fontSize12;
        margin-bottom: 10px;
      }
    }
  }
}