.main {
  .banner {
    background-image: url('../../../img/opt-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
    &__wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__title {
      margin-bottom: 33px;
      line-height: 55px;
      font-weight: 900;
      font-size: 40px;
      color: var(--white-color);
      text-align: center;
    }
    &__link {
      @include contentButton;
      @include fontSize14;
    }
  }
  .description {
    &__wrap {
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      justify-content: space-around;
    }
    &__item {
      padding-top: 87px;
      width: 170px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: top center;
      &-title {
        @include fontSize17;
        margin-bottom: 14px;
        font-weight: 900;
      }
      &:first-child {
        background-image: url('../../../img/opt-img.svg');
      }
      &:nth-child(2) {
        background-image: url('../../../img/opt-img-2.svg');
      }
      &:nth-child(3) {
        background-image: url('../../../img/opt-img-3.svg');
      }
      &:nth-child(4) {
        background-image: url('../../../img/opt-img-4.svg');
      }
      &:last-child {
        background-image: url('../../../img/opt-img-5.svg');
      }
    }
  }
  .addresses {
    position: relative;
    background-color: #F7F8F9;
    background-clip: content-box;
    &__wrap {
      padding-top: 84px;
      padding-bottom: 84px;
    }
    &__list {
      width: 920px;
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      gap: 26px 119px;
    }
    &__item {
      width: 400px;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url('../../../img/tag.svg');
      padding-left: 30px;
    }
    &__address {
      font-style: normal;
      span {
        font-weight: 700;
      }
    }
    &__tel {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      padding: 12px 24px;
      background-color: var(--yellow-color);
      font-weight: 700;
      border-radius: 100px;
    }
  }
  .blank {
    &__text {
      margin-bottom: 47px;
      line-height: 28px;
    }
    &__wrap {
      max-width: 960px;
    }
    &__title {
      margin-bottom: 20px;
      text-align: center;
    }
    &__form {
      &-item {
        margin-bottom: 80px;
        .input-wrap {
          width: 100%;
          input {
            @include fontSize14;
          }
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
        &:nth-child(5) {
          .blank__form-title {
            margin-bottom: 10px;
          }
        }
      }
      &-title {
        @include fontSize17;
        margin-bottom: 40px;
        font-weight: 800;
      }
      &-text {
        @include fontSize14;
        margin-bottom: 50px;
      }
      &-button {
        @include contentButton;
        @include fontSize14;
      }
      &-subtext {
        @include fontSize12;
        margin-bottom: 15px;
      }
    }
  }
}