.main {
  .banner {
    background-image: url("../../../img/opt-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 510px;
    &__wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__title {
      @include fontSize35;
      margin-bottom: 37px;
      font-weight: 800;
      color: var(--white-color);
      text-align: center;
    }
    &__link {
      @include contentButton;
      @include fontSize14;
    }
  }
  .description {
    &__wrap {
      padding-top: 128px;
      padding-bottom: 128px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(auto, 141px));
      align-items: center;
      justify-content: center;
      grid-column-gap: 140px;
    }
    &__item {
      padding-top: 87px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center 15px;
      &-title {
        @include fontSize16;
      }
      &:first-child {
        background-image: url("../../../img/opt-img.svg");
      }
      &:nth-child(2) {
        background-image: url("../../../img/opt-img-2.svg");
      }
      &:nth-child(3) {
        background-image: url("../../../img/opt-img-3.svg");
      }
      &:nth-child(4) {
        background-image: url("../../../img/opt-img-4.svg");
      }
      &:last-child {
        background-image: url("../../../img/opt-img-5.svg");
      }
    }
  }
  .addresses {
    margin-bottom: 83px;
    position: relative;
    background-color: #f7f8f9;
    background-clip: content-box;
    &__wrap {
      padding-top: 100px;
      padding-bottom: 114px;
    }
    &__list {
      width: 920px;
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      gap: 26px 119px;
    }
    &__item {
      width: 400px;
    }
    &__address {
      font-style: normal;
      span {
        font-weight: 700;
      }
    }
    &__tel {
      @include fontSize16;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      padding: 12px 24px;
      background-color: var(--yellow-color);
      font-weight: 700;
      border-radius: 100px;
    }
  }
  .blank {
    &__text {
      margin-bottom: 40px;
    }
    &__wrap {
      max-width: 960px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__form {
      position: relative;
      &-dropdown {
        max-width: 470px;
        position: absolute;
        top: 115px;
        left: 0;
        border-radius: 10px;
        background-color: var(--white-color);
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
        z-index: 1;
        &-item {
          @include fontSize14;
          padding: 14px 30px;
          transition: background 0.2s ease;
          cursor: pointer;
          &:not(:last-child) {
            border-bottom: 1px solid var(--black-color);
          }
          &:hover {
            background-color: var(--light-grey-color);
          }
        }
      }
      &-item {
        margin-bottom: 80px;
        .input-wrap {
          width: 100%;
          input {
            @include fontSize14;
          }
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
        &:nth-child(5) {
          .blank__form-title {
            margin-bottom: 10px;
          }
        }
      }
      &-input {
        padding-right: 25px;
      }
      &-title {
        @include fontSize18;
        margin-bottom: 40px;
        font-weight: 800;
      }
      &-text {
        @include fontSize14;
        margin-bottom: 50px;
      }
      &-button {
        @include contentButton;
        width: 100%;
      }
      &-subtext {
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .banner {
      height: 480px;
    }
    .description {
      &__wrap {
        grid-column-gap: 87px;
      }
    }
  }
}

@media only screen and (max-width: 1365px) {
  .main {
    .banner {
      height: 390px;
      &__title {
        margin-bottom: 30px;
        font-size: 30px;
      }
    }
    .description {
      &__wrap {
        padding-top: 96px;
        padding-bottom: 124px;
        gap: 20px;
      }
    }
    .addresses {
      &__wrap {
        padding-top: 65px;
        padding-bottom: 78px;
      }
      &__tel {
        bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main {
    .description {
      &__wrap {
        grid-template-columns: repeat(auto-fit, minmax(auto, 130px));
        gap: 4px;
      }
    }
    .addresses {
      &__list {
        width: 100%;
        justify-content: center;
        gap: 25px 102px;
      }
      &__item {
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .banner {
      height: 470px;
      background-position: 35%;
    }
    .description {
      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        padding-top: 30px;
        padding-bottom: 46px;
      }
      &__item {
        padding: 12px 0 12px 67px;
        background-size: 40px;
        background-position: left center;
        text-align: left;
      }
    }
    .addresses {
      &__list {
        justify-content: unset;
      }
      &__item {
        width: 216px;
      }
      &__wrap {
        padding-top: 42px;
        padding-bottom: 62px;
      }
      &__tel {
        width: 280px;
      }
    }
  }
}
