.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  z-index: 2;
  border-bottom: 1px solid var(--black-color);
  &__tel {
    transition: color 0.2s ease;
    &:hover {
      color: var(--primary-color);
    }
  }
  &__top {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 6px;
  }
  &__logo {
    width: 165px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 14px;
  }
  &__city {
    text-decoration: underline;
    margin-left: auto;
    transition: color 0.2s ease;
    &:hover {
      color: var(--primary-color);
    }
  }
  &__input {
    @include contentInput;
    margin: 0 auto;
    padding: 10px 24px;
    max-width: 527px;
    border: 1px solid var(--black-color);
    border-radius: 100px;
    background-image: url("../../../img/search.svg");
    background-repeat: no-repeat;
    background-position: 97% center;
  }
  &__status {
    margin-right: 35px;
    transition: color 0.2s ease;
    &:hover {
      color: var(--primary-color);
    }
  }
  &__action {
    &-list {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-left: auto;
    }
    &-item {
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }
    &-link {
      display: block;
      width: 22px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      font-size: 0;
      &.favourite {
        background-image: url("../../../img/favourite.svg");
      }
      &.cabinet {
        background-image: url("../../../img/personal.svg");
      }
      &.compare {
        background-image: url("../../../img/compare.svg");
      }
      &.cart {
        background-image: url("../../../img/basket.svg");
      }
      &.main {
        background-image: url("../../../img/main.svg");
      }
      &.catalog {
        background-image: url("../../../img/menu.svg");
      }
    }
  }
  &__catalog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    overflow-x: hidden;
    &-button {
      @include contentButton;
      margin-right: 35px;
      position: relative;
      width: 119px;
      padding: 16px 22px 16px 42px;
      transition: background 0.2s ease;
      &::before {
        content: "";
        position: absolute;
        top: 21px;
        left: 22px;
        height: 2px;
        width: 10px;
        background-color: var(--black-color);
        transition: transform 0.2s ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 22px;
        height: 2px;
        width: 10px;
        background-color: var(--black-color);
        transition: transform 0.2s ease;
      }
      &.is-active {
        background-color: var(--light-primary-color);
        &::before {
          top: 23px;
          transform: rotate(45deg);
        }
        &::after {
          top: 23px;
          transform: rotate(-45deg);
        }
      }
      &:hover {
        background-color: var(--light-primary-color);
      }
    }
    .header__accordion-container {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      .ac {
        width: 100%;
        max-width: 211px;
        margin-top: 0;
        border: none;
        background-color: var(--cart-background-color);
        .ac-header {
          padding: 14px 0;
          display: flex;
          border-bottom: 1px solid var(--black-color);
        }
        .ac-link {
          @include fontSize14;
        }
        .ac-trigger {
          width: 0;
          padding: 0;
          &::after {
            display: none;
          }
        }
        &-panel {
          &-wrap {
            padding: 20px 0;
          }
        }
      }
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &-wrap {
      display: block;
      position: absolute;
      top: 140px;
      right: 0;
      width: 100%;
      height: 100vh;
      visibility: hidden;
      background-color: var(--cart-background-color);
    }
    &-close {
      @include closeButton;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      right: 100px;
      font-size: 0;
    }
    &-link {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--black-color);
        transition: width 0.2s ease;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
  &__pages {
    &-list {
      display: flex;
      align-items: center;
      gap: 35px;
    }
    &-item {
      &.for-mobile {
        display: none;
        @media only screen and (max-width: 1365px) {
          display: block;
        }
      }
      &.for-desktop {
        @media only screen and (max-width: 1365px) {
          display: none;
        }
      }
      &.tablet {
        @media only screen and (max-width: 1023px) {
          display: none;
        }
      }
    }
    &-link {
      transition: color 0.2s ease;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__menu {
    &-wrap {
      visibility: hidden;
      display: none;
    }
  }
}

@media only screen and (max-width: 1560px) {
  .header {
    &__input {
      max-width: 360px;
    }
    &__status {
      margin-right: 30px;
    }
    &__action {
      &-list {
        gap: 25px;
      }
    }
    &__catalog {
      &-button {
        margin-right: 30px;
      }
    }
    &__pages {
      &-list {
        gap: 30px;
      }
    }
  }
}
@media only screen and (max-width: 1439px) {
  .header {
    &__pages-list {
      gap: 20px;
    }
  }
}
@media only screen and (max-width: 1365px) {
  .header {
    &__top {
      .header__status {
        display: none;
      }
    }
    &__status {
      margin: 0;
    }
    &__logo {
      width: 141px;
    }
    &__input {
      max-width: 300px;
    }
    &__tel {
      display: none;
    }
    &__openmenu {
      display: flex;
      align-items: center;
      width: 17px;
      height: 17px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../../../img/hamburger.svg");
      transition: background 0.2s ease;
      &.is-active {
        background-image: url("../../../img/hamburger-close.svg");
      }
    }
    &__menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      padding: 30px 50px;
      background-color: var(--white-color);
      height: 100%;
      overflow-x: hidden;
      &-wrap {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
      }
      &-background {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
      }
      &-close {
        @include fontSize14;
        width: 100%;
        padding-bottom: 20px;
        font-weight: 700;
        text-align: left;
      }
      &-actions {
        display: none;
      }
      &-list {
        display: none;
        padding: 20px 0;
        &:nth-child(3) {
          display: block;
        }
        &:not(:first-child) {
          border-top: 1px solid var(--grey-item-color);
        }
      }
      &-item {
        @include fontSize14;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    &__pages {
      &-list {
        width: 100%;
      }
      &-item {
        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .header {
    &__action {
      &-list {
        display: none;
      }
    }
    &__city {
      margin: 0 auto;
    }
    &__input {
      width: 45%;
      margin: 0;
      max-width: unset;
    }
    &__catalog {
      width: 400px;
      padding: 30px 50px !important;
      margin: 0 !important;
      background-color: var(--cart-background-color);
      &-background {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
      }
      .header__accordion-container {
        display: block;
        .ac {
          max-width: unset;
          border-color: var(--grey-item-color) transparent transparent
            transparent;
          .ac-trigger {
            flex: 1 1 auto;
            &::after {
              display: block;
            }
          }
          &:last-child {
            border-color: var(--grey-item-color) transparent
              var(--grey-item-color) transparent;
          }
        }
      }
      &-wrap {
        top: 0;
        background-color: unset;
      }
      &-button {
        margin-right: 25px;
        width: unset;
        padding: 14px 20px 14px 38px;
        &::before,
        &::after {
          left: 19px;
        }
      }
      &-close {
        @include fontSize14;
        position: unset;
        width: 100%;
        padding-bottom: 20px;
        font-weight: 700;
        text-align: left;
        background: unset;
      }
    }
    &__pages {
      &-list {
        gap: 25px;
      }
    }
    &__menu {
      &-actions {
        display: block;
        padding: 20px 0;
        border-top: 1px solid var(--grey-item-color);
        &-item {
          display: flex;
          justify-content: space-between;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &:nth-child(4) {
            display: none;
          }
        }
        &-text {
          color: var(--darkness-white-color);
        }
      }
      &-item {
        &:nth-child(-n + 3) {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    &__logo {
      width: 118px;
    }
    &__catalog {
      width: 100%;
      padding: 26px 26px 76px !important;
      &-button {
        display: none;
      }
    }
    &__city {
      margin: 0 34px 0 auto;
      width: 20px;
      height: 24px;
      background-image: url("../../../img/tag.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      font-size: 0;
    }
    &__bottom {
      padding: 0;
    }
    &__pages {
      &-item {
        &:not(:last-child) {
          display: none;
        }
        &:last-child {
          position: absolute;
          top: 22px;
          right: 16px;
        }
      }
    }
    &__top {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      padding-bottom: 14px;
    }
    &__input {
      width: 100%;
    }
    &__action {
      &-list {
        padding: 15px 26px 22px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: unset;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--white-color);
        box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.09);
        z-index: 3;
      }
      &-item {
        &:nth-child(1) {
          order: 4;
        }
        &:nth-child(2) {
          order: 5;
        }
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          order: 3;
        }
        &:nth-child(5) {
          display: block;
          order: 1;
        }
        &:nth-child(6) {
          display: block;
          order: 2;
        }
      }
      &-link {
        width: 100%;
        padding-top: 28px;
        font-size: 9px;
        background-size: 23px 20px;
      }
    }
    &__menu {
      padding: 26px 26px 76px;
      width: 100%;
      &-actions {
        &-item {
          display: none;
          &:nth-child(4) {
            margin-bottom: 0;
          }
          &:nth-child(3),
          &:nth-child(4) {
            display: flex;
          }
        }
      }
      &-item {
        &:nth-child(-n + 3) {
          display: block;
        }
      }
    }
  }
}
