.main {
  .return {
    &__info {
      @include fontSize15;
      max-width: 1071px;
      margin-bottom: 50px;
      padding: 35px 45px;
      font-weight: 700;
      background-color: var(--cart-background-color);
      &-link {
        font-weight: 700;
      }
      &:last-child {
        font-weight: 500;
        margin-bottom: 0;
      }
    }
    &__result {
      max-width: 1071px;
      margin-bottom: 40px;
      &-text {
        @include fontSize15;
        font-weight: 600;
        &:not(:last-child) {
          margin-bottom: 28px;
        }
      }
      &-item {
        @include fontSize15;
        font-weight: 600;
      }
      &-list {
        padding-left: 20px;
        list-style-type: disc;
        &:not(:last-child) {
          margin-bottom: 28px;
        }
      }
      &-title {
        @include fontSize18;
        font-weight: 700;
      }
    }
  }
}
