.main {
  padding-bottom: 0;
  .sert {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__img {
      &-big {
        max-width: 457px;
      }
    }
    .navigation {
      width: 100%;
    }
    &__left {
      width: 742px;
      &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-wrap {
        max-height: 500px;
        &.swiper {
          padding-left: 30px;
        }
      }
      &-pagination {
        left: 0;
        right: unset !important;
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          &-active {
            background: var(--darkness-white-color);
          }
        }
      }
      &.skeleton {
        height: 500px;
      }
    }
    &__right {
      width: 579px;
      &-name {
        @include fontSize24;
        margin-bottom: 10px;
        font-weight: 800;
        line-height: 36px;
        &.skeleton {
          height: 72px;
        }
      }
      &-subtitle {
        @include fontSize14;
        display: inline-block;
        margin-bottom: 40px;
        border-radius: 100px;
        padding: 2px 10px;
        background-color: var(--yellow-color);
        font-weight: 700;
      }
      &-description {
        @include fontSize14;
        margin-bottom: 55px;
        line-height: 25px;
      }
      &-button {
        @include contentButton;
        @include fontSize14;
        width: 100%;
        margin-bottom: 12px;
        &.skeleton {
          height: 48px;
        }
      }
      &-text {
        @include fontSize14;
        text-align: center;
        &.skeleton {
          height: 16px;
        }
      }
      .input-wrap {
        width: 333px;
        margin-bottom: 40px;
        label {
          font-weight: 700;
          color: var(--black-color);
        }
        input {
          border-width: 2px;
        }
      }
    }
  }
  .viewed {
    &__list {
      display: flex;
    }
    .swiper {
      padding: 5px 30px;
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .sert {
      &__left {
        width: 593px;
      }
    }
  }
}

@media only screen and (max-width: 1439px) {
  .main {
    .sert {
      &__left {
        width: 500px;
      }
    }
  }
}

@media only screen and (max-width: 1365px) {
  .main {
    .sert {
      &__img {
        &-big {
          max-width: 348px;
        }
      }
      &__left {
        width: 444px;
        display: flex;
        align-items: center;
        &-wrap {
          max-height: 295px;
        }
      }
      &__right {
        width: 100%;
        max-width: 350px;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main {
    .sert {
      &__wrap {
        flex-direction: column;
      }
      &__img {
        &-big {
          min-height: 290px;
          object-fit: contain;
        }
      }
      &__left {
        width: 100%;
        &-wrap {
          margin-bottom: 30px;
          max-height: 450px;
          &.swiper {
            padding-left: 0;
          }
        }
      }
      &__right {
        max-width: unset;
        &-dots {
          display: none;
        }
      }
    }
    .viewed {
      &__wrap {
        .swiper {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .sert {
      &__right {
        .input-wrap {
          width: 100%;
        }
        &-name {
          line-height: 32px;
        }
        &-text {
          width: 210px;
          margin: 0 auto;
          text-align: center;
          line-height: 25px;
        }
      }
    }
  }
}
