.main {
  .blog {
    &__path {
      &-list {
        @include tabsList;
      }
    }
    &__target {
      display: none;
      .swiper {
        padding-bottom: 70px;
      }
      &.is-open {
        display: block;
      }
    }
    &__link {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &__item {
      height: 450px;
      &-img {
        margin-bottom: 20px;
      }
      &-title {
        @include fontSize15;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      &-text {
        @include fontSize14;
        margin-top: auto;
        margin-bottom: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &__tag {
      &-list {
        display: flex;
        gap: 10px;
      }
      &-item {
        @include fontSize13;
        padding: 2px 12px;
        border-radius: 100px;
        background-color: var(--grey-form-color);
        &.tag--yellow {
          background-color: var(--primary-color);
        }
        &.tag--lightgrey {
          background-color: var(--grey-item-color);
        }
      }
    }
    &__swiper-pagination {
      .swiper-pagination-bullet {
        @include fontSize14;
        padding-top: 5px;
        margin: 0 10px !important;
        width: 35px;
        height: 35px;
        background-color: var(--grey-item-color);
        opacity: unset;
        &-active {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
