.main {
  .blog {
    &__target {
      .swiper {
        padding-bottom: 70px;
      }
    }
    &__link {
      display: flex;
    }
    &__item {
      position: relative;
      &-img {
        max-height: 255px;
      }
      &.skeleton {
        width: 288px;
        height: 250px;
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
    }
    &__swiper-pagination {
      .swiper-pagination-bullet {
        @include fontSize14;
        padding-top: 5px;
        margin: 0 10px !important;
        width: 35px;
        height: 35px;
        background-color: var(--grey-item-color);
        opacity: unset;
        &-active {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
