.main {
  .blog {
    &__path {
      &-list {
        @include tabsList;
      }
    }
    &__target {
      display: none;
      .swiper {
        padding-bottom: 70px;
      }
      &.is-open {
        display: block;
      }
    }
    &__link {
      height: 100%;
    }
    &__item {
      position: relative;
    }
    &__tag {
      &-list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--white-color);
      }
      &-item {
        @include fontSize14;
        padding: 2px 12px;
      }
    }
    &__swiper-pagination {
      .swiper-pagination-bullet {
        @include fontSize14;
        padding-top: 5px;
        margin: 0 10px !important;
        width: 35px;
        height: 35px;
        background-color: var(--grey-item-color);
        opacity: unset;
        &-active {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
