.main {
  .requisites {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
    }
    &__title {
      width: 100%;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 165px;
      }
    }
    &__text {
      &:first-child {
        @include fontSize18;
      }
      @include fontSize15;
      font-weight: 600;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
