.main {
  .banner {
    background-position: center center;
    background-image: url("../../../img/delivery-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
    &__wrap {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title {
      font-weight: 900;
      font-size: 40px;
      color: var(--white-color);
      text-align: center;
    }
  }
  .description {
    padding-top: 70px;
    &__wrap {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
      grid-column-gap: 101px;
    }
    &__subtext {
      @include fontSize14;
      margin-bottom: 30px;
      display: inline-block;
      padding: 4px 14px;
      background-color: var(--light-grey-color);
      font-weight: 700;
      border-radius: 100px;
    }
    &__title {
      @include fontSize24;
      margin-bottom: 25px;
      font-weight: 700;
    }
    &__text {
      @include fontSize14;
      margin-bottom: 40px;
      span {
        display: block;
        padding: 25px 0;
      }
    }
    &__warn {
      @include fontSize14;
      padding: 20px 35px;
      background-color: var(--primary-color);
      border-radius: 10px;
      span {
        @include fontSize16;
        display: block;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .banner {
      height: 480px;
    }
    .description {
      padding-top: 60px;
      &__wrap {
        grid-template-columns: repeat(auto-fit, minmax(668px, 1fr));
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .description {
      &__wrap {
        grid-template-columns: repeat(auto-fit, minmax(280px, 600px));
      }
      &__warn {
        padding: 20px 28px;
      }
    }
  }
}
