.main {
  .banner {
    background-image: url('../../../img/delivery-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &__wrap {
      padding-top: 140px;
      padding-bottom: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      width: 640px;
      margin-bottom: 33px;
      line-height: 55px;
      font-weight: 900;
      font-size: 40px;
      color: var(--white-color);
      text-align: center;
    }
  }
  .description {
    padding-bottom: 140px;
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-row-gap: 50px;
    }
    &__item {
      width: 637px;
      &:last-child {
        width: 1000px;
        padding: 20px 35px;
        background-color: var(--yellow-color);
        border-radius: 10px;
        .description__title {
          @include fontSize15;
          font-weight: 800;
          margin-bottom: 0;
        }
        .description__text {
          @include fontSize14;
        }
      }
    }
    &__subtext {
      @include fontSize14;
      margin-bottom: 30px;
      display: inline-block;
      padding: 4px 14px;
      background-color: var(--light-grey-color);
      font-weight: 700;
      border-radius: 100px;
    }
    &__title {
      @include fontSize24;
      font-weight: 900;
      margin-bottom: 25px;
    }
    &__text {
      @include fontSize14;
      line-height: 24px;
      span {
        display: block;
        padding: 25px 0;
      }
    }
  }
}