.main {
  padding-bottom: 0;
  .banners {
    padding-top: 0;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__pagination {
      .swiper-pagination-bullet-active {
        background: var(--white-color);
      }
    }
    &__title {
      max-width: 600px;
      padding-left: 45px;
      margin-bottom: 35px;
      position: relative;
      font-size: 60px;
      line-height: 65px;
      font-weight: 700;
      color: var(--secondary-color);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        background-color: var(--primary-color);
      }
    }
    &__text {
      margin-bottom: 40px;
      max-width: 450px;
      font-weight: 600;
      line-height: 35px;
      font-size: 20px;
      color: var(--secondary-color);
      letter-spacing: normal;
      &-wrap {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
      }
    }
    &__more {
      @include fontSize18;
      display: inline-block;
      padding: 22px 34px;
      background-color: var(--primary-color);
      border-radius: 100px;
      text-align: center;
      font-weight: 500;
      color: var(--secondary-color);
    }
    .swiper {
      height: 530px;
    }
  }
  .bestsellers {
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .new {
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .bonuscard {
    margin-bottom: 15px;
    background-color: var(--cart-background-color);
    background-clip: content-box;
    &__img {
      border-radius: 18px;
      width: auto;
      margin: 0 auto;
    }
    &__wrap {
      display: flex;
      align-items: center;
    }
    &__title {
      margin-bottom: 14px;
    }
    &__text {
      @include fontSize14;
      margin-bottom: 21px;
    }
    &__button {
      @include contentButton;
      @include fontSize14;
      background-color: transparent;
      border: 2px solid var(--black-color);
      transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
      &:hover {
        background-color: var(--black-color);
        color: var(--white-color);
      }
      &:active {
        transform: translate(1px, 1px);
      }
    }
  }
  .popular {
    margin-bottom: 36px;
    &__link {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__item {
      background-color: var(--white-color);
      &-text {
        @include fontSize15;
        margin-top: auto;
      }
      &-img {
        aspect-ratio: 1/1;
        object-fit: contain;
        mix-blend-mode: multiply;
      }
    }
    &__img {
      &-wrap {
        padding: 30px;
        display: flex;
        margin-bottom: 10px;
        background-color: var(--cart-background-color);
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .recommended {
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .ready {
    &__item {
      position: relative;
      overflow: hidden;
      &:hover {
        .ready__links-list {
          transform: translateY(-88%);
        }
      }
    }
    &__img {
      height: 100%;
    }
    &__links {
      &-list {
        position: absolute;
        top: 88%;
        left: 50px;
        transition: transform 0.4s ease;
      }
      &-item {
        &.item-title {
          margin-bottom: 35px;
          p {
            @include fontSize20;
            &:hover {
              color: var(--white-color);
            }
          }
        }
      }
      &-link {
        @include fontSize15;
        font-weight: 600;
        color: var(--white-color);
        transition: color 0.2s ease;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .blog {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: var(--cart-background-color);
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__link {
      height: 100%;
    }
    &__item {
      position: relative;
    }
    &__tag {
      &-list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--white-color);
      }
      &-item {
        @include fontSize14;
        padding: 2px 12px;
      }
    }
    &__pagination {
      display: none;
    }
  }
  .about {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    &__text {
      @include fontSize14;
      max-width: 948px;
      margin: 0 auto 30px;
    }
    &__list {
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px 45px;
    }
    &__item {
      @include fontSize14;
      font-weight: 700;
      padding-left: 20px;
      background-image: url("../../../img/checked.svg");
      background-repeat: no-repeat;
      background-position: left center;
    }
    &__link {
      @include contentButton;
      @include fontSize14;
      display: inline-block;
      position: relative;
      padding: 14px 61px 14px 30px;
      border: 2px solid var(--black-color);
      background-color: transparent;
      transition: color 0.2s ease, background 0.2s ease;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 10px;
        top: 50%;
        right: 21px;
        transform: translate(0, -50%);
        background-image: url("../../../img/arrow-right-line.svg");
        background-repeat: no-repeat;
        background-position: left center;
        transition: background 0.2s ease;
      }
      &:hover {
        background-color: var(--black-color);
        color: var(--white-color);
        &::before {
          background-image: url("../../../img/arrow-right-line--white.svg");
        }
      }
    }
    &__title {
      @include fontSize24;
      margin-bottom: 35px;
    }
  }
}
@media only screen and (max-width: 1560px) {
  .main {
    .banners {
      .swiper {
        height: 495px;
      }
      &__title {
        margin-bottom: 30px;
        padding-left: 40px;
        font-size: 55px;
        line-height: 60px;
      }
      &__text {
        max-width: 469px;
        margin-bottom: 35px;
      }
    }
    .bonuscard {
      &__wrap {
        justify-content: space-between;
      }
      &__title {
        margin-bottom: 16px;
      }
      &__text {
        margin-bottom: 26px;
      }
      &__img {
        margin: 0;
      }
    }
    .blog {
      padding-top: 40px;
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .banners {
      .swiper {
        height: 465px;
      }
      &__title {
        margin-bottom: 25px;
        max-width: 520px;
        font-size: 45px;
        line-height: 55px;
      }
      &__text {
        margin-bottom: 30px;
        max-width: 400px;
        font-size: 18px;
        line-height: 30px;
      }
      &__more {
        padding: 20px 32px;
        font-size: 16px;
      }
    }
    .bonuscard {
      &__title {
        margin-bottom: 12px;
      }
      &__text {
        margin-bottom: 21px;
        width: 97%;
      }
    }
    .popular {
      &__img {
        &-wrap {
          padding: 62px 21px 15px 24px;
        }
      }
    }
    .blog {
      padding-top: 25px;
      padding-bottom: 68px;
    }
    .ready {
      &__links {
        &-list {
          left: 41px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .banners {
      &__title {
        margin-bottom: 20px;
        padding-left: 35px;
        font-size: 40px;
        line-height: 50px;
      }
      &__text {
        max-width: 258px;
        margin-bottom: 25px;
        font-size: 16px;
      }
      .swiper {
        height: 435px;
      }
      &__more {
        padding: 16px 30px;
        font-size: 14px;
      }
    }
    .bestsellers,
    .new,
    .recommended {
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: var(--paddingForCards);
      }
    }
    .bonuscard {
      &__img {
        width: unset;
        max-width: 345px;
      }
      &__title {
        margin-bottom: 10px;
      }
      &__text {
        width: 90%;
        margin-bottom: 20px;
      }
    }
    .ready {
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: var(--paddingForCards);
      }
      &__item {
        &.swiper-slide-active {
          .ready__links-list {
            transform: translateY(-88%);
          }
        }
        &:hover {
          .ready__links-list {
            transform: translateY(-88%);
          }
        }
      }
    }
    .blog {
      padding-top: 20px;
      padding-bottom: 20px;
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: var(--paddingForCards);
      }
    }
    .about {
      &__list {
        margin: 0 auto 40px;
        max-width: 450px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        text-align: left;
      }
    }
    .popular {
      margin-bottom: 0;
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: var(--paddingForCards);
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .main {
    .banners {
      &__title {
        max-width: 288px;
        margin-bottom: 15px;
        padding-left: 25px;
        font-size: 35px;
        line-height: 45px;
        &::before {
          width: 5px;
        }
      }
      &__img {
        object-position: 50%;
      }
      &__text {
        max-width: 46%;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 25px;
        &-wrap {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-top: 30px;
          padding-bottom: 30px;
          top: 0;
          height: 100%;
          transform: unset;
        }
      }
      &__pagination {
        bottom: 5px !important;
      }
      &__more {
        margin-top: auto;
      }
      .swiper {
        height: 420px;
      }
    }
    .bonuscard {
      &__wrap {
        padding-top: 40px;
        padding-bottom: 35px;
        flex-direction: column-reverse;
      }
      &__img {
        margin-bottom: 13px;
        width: 68%;
      }
      &__title {
        margin-bottom: 6px;
      }
      &__text {
        width: 100%;
        &-wrap {
          text-align: center;
        }
      }
    }
    .popular {
      &__img {
        &-wrap {
          padding: 15px;
        }
      }
    }
    .blog {
      padding-top: 20px;
    }
    .about {
      padding-top: 50px;
      padding-bottom: 50px;
      &__title {
        margin-bottom: 20px;
      }
      &__text {
        margin-bottom: 20px;
      }
      &__list {
        margin: 0 auto 34px;
      }
    }
    .ready {
      &__links {
        &-list {
          left: 30px;
        }
      }
    }
  }
}
