.main {
  padding-bottom: 0;
  .banners {
    padding-top: 0;
    &__img {
      width: 100%;
      min-height: 600px;
      object-fit: cover;
    }
    &__pagination {
      .swiper-pagination-bullet-active {
        background: var(--white-color);
      }
    }
    &__item {
      position: relative;
    }
    &__text {
      width: 330px;
      margin-bottom: 37px;
      font-size: 60px;
      line-height: 75px;
      font-weight: 800;
      color: var(--white-color);
      &-wrap {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(-50%, -50%);
      }
    }
    &__subtext {
      @include fontSize20;
      color: var(--white-color);
      font-weight: 700;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  .bestsellers {
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .new {
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .bonuscard {
    margin-bottom: 15px;
    background-color: var(--cart-background-color);
    background-clip: content-box;
    &__img {
      border-radius: 18px;
      width: auto;
      margin: 0 auto;
    }
    &__wrap {
      display: flex;
      align-items: center;
    }
    &__title {
      margin-bottom: 14px;
    }
    &__text {
      @include fontSize14;
      margin-bottom: 21px;
    }
    &__button {
      @include contentButton;
      @include fontSize14;
      background-color: transparent;
      border: 2px solid var(--black-color);
      transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
      &:hover {
        background-color: var(--black-color);
        color: var(--white-color);
      }
      &:active {
        transform: translate(1px, 1px);
      }
    }
  }
  .popular {
    margin-bottom: 36px;
    &__link {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__item {
      background-color: var(--white-color);
      &-text {
        @include fontSize15;
        margin-top: auto;
      }
    }
    &__img {
      height: 100%;
      object-fit: contain;
      &-wrap {
        padding: 60px 30px 50px;
        margin-bottom: 10px;
        background-color: var(--cart-background-color);
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .recommended {
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .ready {
    &__item {
      position: relative;
      overflow: hidden;
      &:hover {
        .ready__links-list {
          transform: translateY(-88%);
        }
      }
    }
    &__img {
      height: 100%;
    }
    &__links {
      &-list {
        position: absolute;
        top: 88%;
        left: 50px;
        transition: transform 0.4s ease;
      }
      &-item {
        &.item-title {
          margin-bottom: 35px;
          a {
            @include fontSize20;
          }
        }
      }
      &-link {
        @include fontSize15;
        font-weight: 600;
        color: var(--white-color);
        transition: color 0.2s ease;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__pagination {
      display: none;
    }
  }
  .blog {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: var(--cart-background-color);
    &__swiper-button {
      @include swiperArrowsIndexPage;
    }
    &__link {
      height: 100%;
    }
    &__item {
      position: relative;
    }
    &__tag {
      &-list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--white-color);
      }
      &-item {
        @include fontSize14;
        padding: 2px 12px;
      }
    }
    &__pagination {
      display: none;
    }
  }
  .about {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    &__text {
      @include fontSize14;
      max-width: 948px;
      margin: 0 auto 30px;
    }
    &__list {
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px 45px;
    }
    &__item {
      @include fontSize14;
      font-weight: 700;
      padding-left: 20px;
      background-image: url("../../../img/checked.svg");
      background-repeat: no-repeat;
      background-position: left center;
    }
    &__link {
      @include contentButton;
      @include fontSize14;
      display: inline-block;
      position: relative;
      padding: 14px 61px 14px 30px;
      border: 2px solid var(--black-color);
      background-color: transparent;
      transition: color 0.2s ease, background 0.2s ease;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 10px;
        top: 50%;
        right: 21px;
        transform: translate(0, -50%);
        background-image: url("../../../img/arrow-right-line.svg");
        background-repeat: no-repeat;
        background-position: left center;
        transition: background 0.2s ease;
      }
      &:hover {
        background-color: var(--black-color);
        color: var(--white-color);
        &::before {
          background-image: url("../../../img/arrow-right-line--white.svg");
        }
      }
    }
    &__title {
      @include fontSize24;
      margin-bottom: 35px;
    }
  }
}
@media only screen and (max-width: 1560px) {
  .main {
    .banners {
      &__img {
        min-height: 509px;
      }
    }
    .bonuscard {
      &__wrap {
        justify-content: space-between;
      }
      &__title {
        margin-bottom: 16px;
      }
      &__text {
        margin-bottom: 26px;
      }
      &__img {
        margin: 0;
      }
    }
    .blog {
      padding-top: 40px;
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .banners {
      &__img {
        min-height: 435px;
      }
      &__text {
        width: 263px;
        margin-bottom: 30px;
        font-size: 50px;
        line-height: 65px;
        &-wrap {
          right: 0;
        }
      }
    }
    .bonuscard {
      &__title {
        margin-bottom: 12px;
      }
      &__text {
        margin-bottom: 21px;
        width: 97%;
      }
    }
    .popular {
      &__img {
        &-wrap {
          padding: 62px 21px 15px 24px;
        }
      }
    }
    .blog {
      padding-top: 25px;
      padding-bottom: 68px;
    }
    .ready {
      &__links {
        &-list {
          left: 41px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .banners {
      &__img {
        min-height: 371px;
      }
      &__text {
        width: 211px;
        font-size: 40px;
        line-height: 55px;
      }
    }
    .bestsellers,
    .new,
    .recommended {
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: 51px;
      }
    }
    .bonuscard {
      &__img {
        width: unset;
        max-width: 345px;
      }
      &__title {
        margin-bottom: 10px;
      }
      &__text {
        width: 90%;
        margin-bottom: 20px;
      }
    }
    .ready {
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: 41px;
      }
      &__item {
        &.swiper-slide-active {
          .ready__links-list {
            transform: translateY(-88%);
          }
        }
        &:hover {
          .ready__links-list {
            transform: unset;
          }
        }
      }
    }
    .blog {
      padding-top: 20px;
      padding-bottom: 20px;
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: 41px;
      }
    }
    .about {
      &__list {
        margin: 0 auto 40px;
        max-width: 450px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        text-align: left;
      }
    }
    .popular {
      margin-bottom: 0;
      &__pagination {
        display: block;
        .swiper-pagination-bullet-active {
          background: var(--grey-color);
        }
      }
      .swiper {
        padding-bottom: 61px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .main {
    .banners {
      &__img {
        min-height: 453px;
      }
      &__text {
        width: 150px;
        margin-bottom: 17px;
        font-size: 30px;
        line-height: 40px;
        &-wrap {
          right: unset;
          left: 16px;
          bottom: 40px;
          top: unset;
          transform: unset;
        }
      }
    }
    .bonuscard {
      &__wrap {
        padding-top: 40px;
        padding-bottom: 35px;
        flex-direction: column-reverse;
      }
      &__img {
        margin-bottom: 13px;
        width: 68%;
      }
      &__title {
        margin-bottom: 6px;
      }
      &__text {
        width: 100%;
        &-wrap {
          text-align: center;
        }
      }
    }
    .popular {
      &__img {
        &-wrap {
          padding: 43px 14px 7px 16px;
        }
      }
    }
    .blog {
      padding-top: 20px;
    }
    .about {
      padding-top: 50px;
      padding-bottom: 50px;
      &__title {
        margin-bottom: 20px;
      }
      &__text {
        margin-bottom: 20px;
      }
      &__list {
        margin: 0 auto 34px;
      }
    }
    .ready {
      &__links {
        &-list {
          left: 30px;
        }
      }
    }
  }
}
