.main {
  padding-bottom: 0;
  .categories {
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 334px;
      height: 245px;
      padding: 25px;
      border-radius: 10px;
      border: 1px solid var(--border-color);
      &-title {
        @include fontSize17;
        font-weight: 800;
      }
      &-text {
        @include fontSize13;
        margin-top: auto;
        line-height: 22px;
      }
    }
  }
  .map {
    margin-bottom: 84px;
    &__wrap {
      display: flex;
      justify-content: space-between;
    }
    &__left-column {
      width: 100%;
      margin-right: 16px;
    }
    &__input {
      @include fontSize14;
      width: 700px;
      display: block;
      margin: 0 auto 72px auto;
      padding: 18px 20px 18px 60px;
      border: 1px solid var(--grey-form-color);
      border-radius: 100px;
      background-image: url('../../../img/tag.svg');
      background-repeat: no-repeat;
      background-position: 25px center;
      background-size: 2%;
      &::placeholder {
        @include fontSize14;
        color: var(--footer-title-color);
      }
    }
    &__list {
      height: 515px;
      padding-right: 10px;
      overflow: scroll;
    }
    &__item {
      border-style: solid;
      border-width: 1px;
      &-button {
        @include fontSize17;
        font-weight: 800;
        &:focus {
          color: unset !important;
        }
        &::after {
          content: '' !important;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('../../../img/arrow-down.svg');
          width: 12px !important;
          height: 7px;
        }
      }
      &-address {
        @include fontSize14;
        margin-bottom: 13px;
        margin-top: 10px;
        font-style: normal;
        span {
          @include fontSize12;
          margin-top: 6px;
          display: block;
          color: var(--darkness-white-color);
        }
      }
      &-tel {
        @include fontSize14;
        display: block;
        margin-bottom: 12px;
      }
      &-link {
        @include fontSize13;
        padding: 4px 12px;
        display: inline-block;
        margin-bottom: 25px;
        border-radius: 100px;
        background-color: var(--yellow-color);
      }
      &.ac {
        margin-top: 0;
      }
      .ac-trigger {
        @include fontSize17;
        padding: 18px 30px 18px 0;
        font: unset;
        font-weight: 800;
      }
      &.is-active {
        .ac-trigger::after {
          transform: rotate(180deg) translate(0, -50%);
          top: 30%;
        }
      }
      &:not(:last-child) {
        border-color: var(--border-color) transparent transparent transparent;
      }
      &:last-child {
        border-color: var(--border-color) transparent var(--border-color) transparent;  
      }
    }
    #map {
      height: 561px;
      width: 995px;
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .categories {
      &__list {
        justify-content: flex-start;
      }
      &__item {
        &:not(:last-child) {
          margin-right: 30px;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}