.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--white-color);
  border-bottom: 1px solid #2d2a28;
  z-index: 1;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 165px;
  }
  &__geo {
    @include fontSize14;
    margin: 0 25px 0 auto;
  }
  &__tel {
    @include fontSize14;
    padding: 3px 12px;
    background-color: var(--primary-color);
    border-radius: 100px;
  }
}
.main {
  padding-top: 72px;
  background-color: var(--cart-background-color);
  .order {
    &__back {
      @include fontSize14;
      margin-bottom: 10px;
    }
    &__attention {
      @include fontSize14;
      margin-bottom: 35px;
      padding: 23px 50px;
      width: 100%;
      border: 1px solid var(--red-color);
      border-radius: 100px;
      text-align: center;
      color: var(--red-color);
    }
    &__columns {
      display: flex;
      align-items: flex-start;
      gap: 35px;
    }
    &__left {
      flex: 1 1 auto;
      .address-input__wrap {
        position: relative;
        .dropdown-cities {
          &-list {
            @include contentScroll;
            max-width: 427px;
            position: absolute;
            top: 50px;
            left: 0;
            border-radius: 10px;
            background-color: var(--white-color);
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
            z-index: 1;
          }
          &-item {
            @include fontSize14;
            padding: 14px 30px;
            transition: background 0.2s ease;
            cursor: pointer;
            &:not(:last-child) {
              border-bottom: 1px solid var(--black-color);
            }
            &:hover {
              background-color: var(--light-grey-color);
            }
          }
        }
      }
      &-block {
        padding: 30px 40px;
        border-radius: 15px;
        background-color: var(--white-color);
        &:not(:last-child) {
          margin-bottom: 35px;
        }
        &-title {
          @include fontSize20;
          margin-bottom: 30px;
        }
        &-subtitle {
          @include fontSize20;
          margin-bottom: 30px;
        }
        &-section {
          &:first-child {
            margin-right: 90px;
          }
          &-wrap {
            display: flex;
          }
          .choices {
            &__inner {
              padding: 8px 0 !important;
              background-color: transparent;
              border-radius: unset;
              border: none;
              border-bottom: 1px solid var(--black-color);
              min-height: unset;
            }
            &__list {
              &--single {
                padding: 0;
              }
              &--dropdown {
                box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08);
                border-radius: 27px;
                border: none;
                .choices__placeholder {
                  display: none;
                }
                .choices__input {
                  padding: 15px 30px;
                }
                .choices__item {
                  @include fontSize14;
                  padding: 15px 30px;
                  &.is-selected {
                    background-color: var(--cart-background-color);
                  }
                  &:hover {
                    background-color: var(--cart-background-color);
                  }
                }
              }
              .choices__placeholder {
                color: var(--grey-color);
                opacity: 1;
              }
            }
            &.is-open {
              &.is-flipped {
                .choices__inner {
                  border-radius: 100px;
                }
                .choices__list {
                  top: inherit;
                  bottom: inherit;
                }
              }
            }
          }
        }
        &-input {
          @include contentInput;
          display: block;
          width: 427px;
          padding: 8px 0;
          &:not(:last-child) {
            margin-bottom: 18px;
          }
        }
        &-radio {
          &:not(:last-child) {
            margin-bottom: 17px;
          }
        }
        &-img {
          border-radius: 10px;
          width: 100px;
          &-wrap {
            margin-right: 10px;
            position: relative;
            height: 100px;
            display: flex;
            align-items: center;
            background-color: var(--lightness-grey-color);
            border-radius: 10px;
          }
        }
        &-cards {
          &-list {
            margin-bottom: 45px;
          }
          &-item {
            display: flex;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
          &-text {
            @include fontSize14;
            &.text-bold {
              font-weight: 800;
            }
          }
        }
        &-delivery {
          &-list {
            margin-bottom: 60px;
            display: grid;
            grid-template-columns: repeat(2, 300px);
            gap: 30px;
          }
          &-item {
            @include fontSize14;
            padding: 25px 35px 30px;
            border: 1px solid var(--grey-item-color);
            border-radius: 15px;
            cursor: pointer;
            &.selected {
              border: 1px solid var(--black-color);
            }
          }
          &-title {
            @include fontSize14;
            font-weight: 700;
          }
          &-text {
            @include fontSize14;
            margin-bottom: 21px;
          }
          &-price {
            @include fontSize14;
            padding: 2px 9px;
            display: inline-block;
            margin-right: 22px;
            background-color: var(--primary-color);
            border-radius: 100px;
            font-weight: 700;
          }
          &-date {
            @include fontSize14;
            display: inline-block;
          }
          &-tel {
            @include fontSize14;
            display: inline-block;
            padding: 2px 9px;
            margin-bottom: 14px;
            background-color: var(--primary-color);
            border-radius: 100px;
          }
        }
        &-map {
          #map {
            height: 493px;
          }
          &-input {
            @include contentInput;
            margin-bottom: 30px;
            display: block;
            border-radius: 100px;
            border: 1px solid var(--grey-form-color);
            padding: 15px 30px;
          }
          &-text {
            @include fontSize14;
            margin-bottom: 30px;
          }
        }
      }
    }
    &__right {
      position: sticky;
      top: 90px;
      width: 457px;
      border-radius: 15px;
      background-color: var(--white-color);
      &-title {
        @include fontSize20;
        padding: 30px 40px;
        border-bottom: 1px solid var(--grey-item-color);
      }
      &-info {
        padding: 30px 40px;
        &:not(:last-child) {
          border-bottom: 1px solid var(--grey-item-color);
        }
      }
      &-text {
        @include fontSize14;
        max-width: 180px;
        &.text-bold {
          @include fontSize16;
          margin-bottom: 30px;
        }
        &.text-green {
          color: var(--green-color);
        }
        &.text-red {
          color: var(--red-color);
        }
        &:last-child {
          text-align: end;
          font-weight: 700;
        }
        &-wrap {
          display: flex;
          justify-content: space-between;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
      &-button {
        @include contentButton;
        @include fontSize14;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid var(--primary-color);
      }
      &-description {
        font-size: 11px;
        line-height: 22px;
      }
      &-input {
        @include contentInput;
        margin-right: 20px;
        width: 100%;
        border: 1px solid var(--secondary-color);
        border-radius: 100px;
        padding: 20px;
        &::placeholder {
          text-align: center;
        }
        &-wrap {
          position: relative;
          display: flex;
          margin-bottom: 20px;
        }
        &-check {
          @include contentButton;
        }
      }
    }
  }
}
.footer {
  padding: 33px 0;
  &__wrap {
    display: block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .order {
      &__left {
        &-block {
          &-input {
            width: 339px;
          }
        }
      }
      &__right {
        width: 430px;
      }
    }
  }
}
@media only screen and (max-width: 1439px) {
  .main {
    .order {
      &__left {
        &-block {
          &-delivery {
            &-list {
              grid-template-columns: repeat(2, 275px);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .order {
      &__title {
        margin-bottom: 28px;
      }
      &__attention {
        padding: 20px 40px;
        border-radius: 15px;
      }
      &__columns {
        flex-direction: column;
      }
      &__left {
        flex: unset;
        width: 100%;
        &-block {
          &-input {
            width: 404px;
          }
          &-section {
            &:first-child {
              margin-right: 10vw;
            }
          }
        }
      }
      &__right {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .order {
      &__attention {
        margin-bottom: 30px;
      }
      &__left {
        &-block {
          &-section {
            &-wrap {
              flex-direction: column;
              gap: 50px;
            }
            &:first-child {
              margin-right: 0;
            }
          }
          &-input {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    &__geo,
    &__tel {
      padding: 0;
      font-size: 0;
      border-radius: unset;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    &__geo {
      margin: 0 16px 0 auto;
      width: 20px;
      height: 25px;
      background-image: url("../../../img/tag.svg");
    }
    &__tel {
      width: 20px;
      height: 25px;
      background-image: url("../../../img/telephone.svg");
    }
    &__logo {
      width: 118px;
    }
  }
  .main {
    padding-bottom: 30px;
    .order {
      &__title {
        margin-bottom: 25px;
      }
      &__attention {
        padding: 20px 29px;
      }
      &__left {
        &-block {
          padding: 15px 16px;
          &-input {
            padding: 12px 23px;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
          &-section {
            &-wrap {
              gap: 30px;
            }
            .choices__list--single {
              padding: 5px 15px 4px 15.5px;
            }
            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
          &-delivery {
            &-list {
              display: block;
              margin-bottom: 0;
            }
            &-item {
              padding: 15px 20px;
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
          #map {
            height: 321px;
          }
        }
      }
      &__right {
        &-title {
          padding: 15px 16px;
        }
        &-info {
          padding: 20px 16px;
        }
      }
    }
  }
}
