.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--cart-background-color);
  border-bottom: 1px solid #2d2a28;
  z-index: 1;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 165px;
  }
  &__geo {
    @include fontSize14;
    margin: 0 25px 0 auto;
  }
  &__tel {
    @include fontSize14;
  }
}
.main {
  padding-top: 72px;
  .order {
    &__title {
      &.skeleton {
        width: 288px;
        height: 40px;
      }
    }
    &__back {
      @include fontSize14;
      margin-bottom: 10px;
    }
    &__attention {
      @include fontSize14;
      margin-bottom: 35px;
      padding: 23px 50px;
      width: 100%;
      border: 1px solid var(--red-color);
      border-radius: 100px;
      text-align: center;
      color: var(--red-color);
    }
    &__columns {
      display: flex;
      align-items: flex-start;
    }
    &__left {
      padding-right: 61px;
      border-right: 1px solid var(--grey-item-color);
      flex: 1 1 auto;
      .address-input__wrap {
        position: relative;
        .dropdown-cities {
          &-list {
            @include contentScroll;
            max-width: 427px;
            position: absolute;
            top: 50px;
            left: 0;
            border-radius: 10px;
            background-color: var(--white-color);
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
            z-index: 1;
          }
          &-item {
            @include fontSize14;
            padding: 14px 30px;
            transition: background 0.2s ease;
            cursor: pointer;
            &:not(:last-child) {
              border-bottom: 1px solid var(--black-color);
            }
            &:hover {
              background-color: var(--light-grey-color);
            }
          }
        }
      }
      &-block {
        padding: 30px 0;
        border-radius: 15px;
        background-color: var(--white-color);
        &:not(:last-child) {
          margin-bottom: 35px;
        }
        &-title {
          @include fontSize20;
          margin-bottom: 30px;
          &.skeleton {
            height: 32px;
          }
        }
        &-subtitle {
          @include fontSize20;
          margin-bottom: 30px;
        }
        &-section {
          &:first-child {
            margin-right: 90px;
          }
          &-wrap {
            display: flex;
          }
          .choices {
            max-width: 575px;
            &__inner {
              padding: 8px 0 !important;
              background-color: transparent;
              border-radius: unset;
              border: none;
              border-bottom: 1px solid var(--black-color);
              min-height: unset;
            }
            &__list {
              &--single {
                padding: 0;
              }
              &--dropdown {
                box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08);
                border-radius: 27px;
                border: none;
                .choices__placeholder {
                  display: none;
                }
                .choices__input {
                  padding: 15px 30px;
                }
                .choices__item {
                  @include fontSize14;
                  padding: 15px 30px;
                  &.is-selected {
                    background-color: var(--cart-background-color);
                  }
                  &:hover {
                    background-color: var(--cart-background-color);
                  }
                }
              }
              .choices__placeholder {
                color: var(--grey-color);
                opacity: 1;
              }
            }
            &.is-open {
              &.is-flipped {
                .choices__inner {
                  border-radius: 100px;
                }
                .choices__list {
                  top: inherit;
                  bottom: inherit;
                }
              }
            }
          }
          &-text {
            @include fontSize14;
            margin-bottom: 26px;
            max-width: 575px;
          }
        }
        &-input {
          @include contentInput;
          display: block;
          width: 427px;
          padding: 8px 0;
          &:not(:last-child) {
            margin-bottom: 30px;
          }
          &.skeleton {
            border: none;
          }
        }
        &-radio {
          &:not(:last-child) {
            margin-bottom: 17px;
          }
          &.skeleton {
            width: 288px;
            height: 25px;
          }
        }
        &-delivery {
          &-list {
            max-width: 575px;
          }
          &-item {
            border-bottom: 1px solid var(--grey-item-color);
            .label {
              padding: 10px 0 10px 48px;
              &-title {
                @include fontSize14;
                font-weight: 700;
                display: block;
              }
              &-text {
                @include fontSize14;
              }
            }
          }
        }
        &-map {
          #map {
            height: 493px;
          }
          &-input {
            @include contentInput;
            margin-bottom: 30px;
            display: block;
            border-radius: 100px;
            border: 1px solid var(--grey-form-color);
            padding: 15px 30px;
          }
          &-text {
            @include fontSize14;
            margin-bottom: 30px;
          }
        }
        &-card {
          padding: 35px 0;
          display: flex;
          align-items: center;
          &:not(:last-child) {
            border-bottom: 1px solid var(--grey-item-color);
          }
        }
        &-img {
          border-radius: 10px;
          &-wrap {
            max-width: 110px;
            height: 110px;
            margin-right: 25px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            &.skeleton {
              width: 100px;
              height: 100px;
            }
          }
        }
        &-description {
          max-width: 300px;
          margin-right: 20px;
          &-text {
            @include fontSize14;
            color: var(--grey-color);
            &.skeleton {
              width: 288px;
              height: 25px;
            }
          }
        }
        &-price {
          @include fontSize16;
          font-weight: 800;
          span {
            @include fontSize14;
            margin-left: 15px;
            text-decoration: line-through;
            font-weight: 600;
          }
          &.skeleton {
            width: 165px;
            height: 53px;
          }
        }
      }
    }
    &__right {
      margin-left: auto;
      position: sticky;
      top: 90px;
      width: 517px;
      padding-left: 60px;
      border-radius: 15px;
      background-color: var(--white-color);
      &-title {
        @include fontSize20;
        padding: 30px 0;
        border-bottom: 1px solid var(--grey-item-color);
        &.skeleton {
          height: 93px;
        }
      }
      &-info {
        padding: 20px 0;
        &:not(:last-child) {
          border-bottom: 1px solid var(--grey-item-color);
        }
      }
      &-text {
        @include fontSize14;
        max-width: 180px;
        &.text-bold {
          @include fontSize16;
          margin-bottom: 14px;
        }
        &.text-green {
          color: var(--green-color);
        }
        &.text-red {
          color: var(--red-color);
        }
        &:last-child {
          text-align: end;
          font-weight: 700;
        }
        &-wrap {
          display: flex;
          justify-content: space-between;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        &.skeleton {
          width: 66px;
          height: 25px;
        }
      }
      &-button {
        @include contentButton;
        @include fontSize14;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        background: transparent;
        border: 2px solid var(--black-color);
        &.skeleton {
          height: 65px;
          border: none;
        }
      }
      &-description {
        font-size: 11px;
        line-height: 22px;
        &.skeleton {
          height: 66px;
        }
      }
      &-input {
        @include contentInput;
        padding: 10px 80px 10px 0;
        &-wrap {
          position: relative;
          margin-bottom: 33px;
        }
        &-check {
          @include fontSize14;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          color: var(--secondary-color);
          transition: color 0.2s ease;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
.footer {
  padding: 33px 0;
  background-color: var(--cart-background-color);
  &__wrap {
    display: block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .order {
      &__left {
        &-block {
          &-input {
            width: 339px;
          }
        }
      }
      &__right {
        width: 429px;
      }
    }
  }
}
@media only screen and (max-width: 1439px) {
  .main {
    .order {
      &__left {
        &-block {
          &-delivery {
            &-list {
              grid-template-columns: repeat(2, 275px);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .order {
      &__title {
        margin-bottom: 28px;
      }
      &__attention {
        padding: 20px 40px;
        border-radius: 15px;
      }
      &__columns {
        flex-direction: column;
        gap: 30px;
      }
      &__left {
        flex: unset;
        width: 100%;
        padding-right: 0;
        border: none;
        &-block {
          &-input {
            width: 404px;
          }
          &-section {
            &:first-child {
              margin-right: 10vw;
            }
          }
        }
      }
      &__right {
        width: 100%;
        padding-left: 0;
        position: unset;
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .order {
      &__attention {
        margin-bottom: 30px;
      }
      &__left {
        &-block {
          &-section {
            &-wrap {
              flex-direction: column;
              gap: 50px;
            }
            &:first-child {
              margin-right: 0;
            }
          }
          &-input {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    &__geo,
    &__tel {
      padding: 0;
      font-size: 0;
      border-radius: unset;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    &__geo {
      margin: 0 16px 0 auto;
      width: 20px;
      height: 25px;
      background-image: url("../../../img/tag.svg");
    }
    &__tel {
      width: 20px;
      height: 25px;
      background-image: url("../../../img/telephone.svg");
    }
    &__logo {
      width: 118px;
    }
  }
  .main {
    padding-bottom: 30px;
    .order {
      &__title {
        margin-bottom: 25px;
      }
      &__attention {
        padding: 20px 29px;
      }
      &__left {
        &-block {
          padding: 15px 16px;
          &-section {
            &-wrap {
              gap: 30px;
            }
            .choices__list--single {
              padding: 5px 15px 4px 15.5px;
            }
            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
          &-delivery {
            &-list {
              display: block;
              margin-bottom: 0;
            }
            &-item {
              padding: 15px 20px;
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
          &-img {
            &-wrap {
              margin-right: 15px;
              max-width: 80px;
              height: 80px;
            }
          }
          &-description {
            width: 53%;
            margin-right: 0;
            &-status {
              margin-bottom: 5px;
            }
          }
          #map {
            height: 321px;
          }
        }
      }
      &__right {
        &-title {
          padding: 15px 16px;
        }
        &-info {
          padding: 20px 16px;
        }
      }
    }
  }
}
