.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--cart-background-color);
  border-bottom: 1px solid #2d2a28;
  z-index: 1;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 165px;
  }
  &__geo {
    @include fontSize14;
    margin: 0 25px 0 auto;
  }
  &__tel {
    @include fontSize14;
  }
}
.main {
  padding-top: 72px;
  .cart {
    &__region {
      display: flex;
      margin-bottom: 30px;
      align-items: center;
      &-text {
        @include fontSize14;
        &.skeleton {
          width: 425px;
          height: 25px;
        }
      }
    }
    &__columns {
      display: flex;
      align-items: flex-start;
    }
    &__left {
      flex: 1 1 auto;
      padding-right: 61px;
      border-right: 1px solid var(--grey-item-color);
      &-block {
        border-radius: 15px;
        &:not(:last-child) {
          margin-bottom: 35px;
        }
        &-title {
          @include fontSize20;
          padding: 30px 40px;
          font-weight: 800;
          &.skeleton {
            height: 92px;
          }
        }
        &-card {
          padding: 35px 0;
          display: flex;
          align-items: center;
          &:not(:last-child) {
            border-bottom: 1px solid var(--grey-item-color);
          }
        }
        &-img {
          border-radius: 10px;
          mix-blend-mode: multiply;
          &-wrap {
            max-width: 110px;
            height: 110px;
            margin-right: 25px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            background-color: var(--cart-background-color);
            &.skeleton {
              width: 100px;
              height: 100px;
            }
          }
        }
        &-description {
          max-width: 300px;
          margin-right: 20px;
          &-text {
            @include fontSize14;
            color: var(--grey-color);
            &.skeleton {
              width: 288px;
              height: 25px;
            }
          }
          &-status {
            @include fontSize14;
            margin-bottom: 10px;
            color: var(--green-color);
            &.skeleton {
              width: 288px;
              height: 25px;
            }
            &.notavailable {
              color: var(--red-color);
            }
          }
        }
        &-count {
          margin-left: auto;
          max-width: 140px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-input {
            @include fontSize14;
            padding-top: 2px;
            max-width: 40px;
            text-align: center;
          }
          &-button {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            border: 1px solid var(--grey-item-color);
          }
          &.skeleton {
            width: 85px;
            height: 45px;
            border: none;
          }
        }
        &-price {
          @include fontSize16;
          font-weight: 800;
          span {
            @include fontSize14;
            margin-left: 15px;
            text-decoration: line-through;
            font-weight: 600;
          }
          &.skeleton {
            width: 165px;
            height: 53px;
          }
        }
        &-delete {
          margin-right: 20px;
          width: 20px;
          height: 19px;
          background-image: url("../../../img/remove.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    &__right {
      margin-left: auto;
      position: sticky;
      top: 90px;
      width: 517px;
      padding-left: 60px;
      border-radius: 15px;
      background-color: var(--white-color);
      &-title {
        @include fontSize20;
        padding: 20px 0;
        font-weight: 800;
        border-bottom: 1px solid var(--secondary-color);
        &.skeleton {
          height: 93px;
        }
      }
      &-info {
        padding: 30px 0;
        &:first-child {
          border-bottom: 1px solid var(--secondary-color);
        }
      }
      &-text {
        @include fontSize14;
        max-width: 180px;
        &.text-bold {
          @include fontSize16;
          margin-bottom: 30px;
        }
        &.text-green {
          color: var(--green-color);
        }
        &.text-red {
          color: var(--red-color);
        }
        &:last-child {
          font-weight: 700;
          text-align: end;
        }
        &-wrap {
          display: flex;
          justify-content: space-between;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        &.skeleton {
          width: 66px;
          height: 25px;
        }
      }
      &-link {
        @include contentButton;
        @include fontSize14;
        display: block;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        background: transparent;
        border: 2px solid var(--black-color);
        &.skeleton {
          height: 65px;
          border: none;
        }
      }
      &-description {
        font-size: 11px;
        line-height: 22px;
        &.skeleton {
          height: 66px;
        }
      }
    }
    &__empty {
      width: 100%;
      height: 58vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &-img {
        width: 288px;
        margin-bottom: 20px;
      }
      &-title {
        @include fontSize18;
        margin-bottom: 15px;
      }
      &-text {
        @include fontSize14;
        text-align: center;
      }
    }
  }
}
.footer {
  padding: 33px 0;
  background-color: var(--cart-background-color);
  &__wrap {
    display: block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .cart {
      &__right {
        width: 429px;
      }
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .cart {
      &__columns {
        flex-direction: column;
        gap: 30px;
      }
      &__left {
        flex: unset;
        width: 100%;
        padding-right: 0;
        border: none;
      }
      &__right {
        width: 100%;
        padding-left: 0;
        position: unset;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    &__geo,
    &__tel {
      padding: 0;
      font-size: 0;
      border-radius: unset;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    &__geo {
      margin: 0 16px 0 auto;
      width: 20px;
      height: 25px;
      background-image: url("../../../img/tag.svg");
    }
    &__tel {
      width: 20px;
      height: 25px;
      background-image: url("../../../img/telephone.svg");
    }
    &__logo {
      width: 118px;
    }
  }
  .main {
    padding-bottom: 30px;
    .cart {
      &__title {
        margin-bottom: 15px;
      }
      &__region {
        display: block;
      }
      &__left {
        &-block {
          &-delete {
            margin-right: 15px;
          }
          &-img {
            &-wrap {
              margin-right: 15px;
              max-width: 80px;
              height: 80px;
            }
          }
          &-card {
            position: relative;
            padding-bottom: 65px;
          }
          &-count {
            position: absolute;
            bottom: 20px;
            left: 130px;
          }
          &-description {
            width: 53%;
            margin-right: 0;
            &-status {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
