@import '/src/assets/styles/normalize.css';
@import 'mixin';
@import 'fonts';

* {
  box-sizing: border-box;
}

:root {
  --lightness-white-color: #F8F8F8;
  --darkness-white-color: #7F7F7F;
  --light-white-color: #E7E7E7;
  --background-color: #EBEBEB;
  --pink-color: #FF3E8F;
  --grey-color: #B9B9B9;
  --light-grey-color: #F4F4F4;
  --footer-title-color: #D7D7D7;
  --footer-background-color: #acacac1e;
  // правильные
  --grey-form-color: #A4A4A4;
  --border-color: #EEEEEE;
  --yellow-color: #FFE53E;
  --light-yellow-color: #FFE484;
  --yellow-active-color: #FFF08E;
  --lightness-grey-color: #F8F8F8;
  --light-green-color: #40CC80;
  --green-color: #1AB28F;
  --red-color: #FF153F;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --dark-grey-color: #545454;
  --black-footer-color: #2C2C2C;
}

body,
html {
  min-width: 320px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--black-color);
}

h1, h2, h3, h4, h5, p, a, li, label {
  @include clearStyles;
  letter-spacing: 0.04em;
}

ul {
  @include clearStyles;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

input {
  @include clearStyles;
  letter-spacing: 0.04em;
  font-family: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  @include clearStyles;
  letter-spacing: 0.04em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

section {
  padding-top: 22px;
  padding-bottom: 22px;
  h2 {
    @include fontSize24;
    margin-bottom: 26px;
    font-weight: 900;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 800;
  }
  @media only screen and (max-width: 1199px) {
    padding-bottom: 6px;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 13px;
  }
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
  @media only screen and (max-width: 1439px) {
    max-width: 1220px;
  }
  // @media only screen and (max-width: 1200px) {
  //   max-width: 688px;
  // }
  @media only screen and (max-width: 767px) {
    max-width: 688px;
  }
  @media only screen and (max-width: 321px) {
    max-width: 308px;
    padding: 0 12px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cards-item {
  width: 211px;
  &__img {
    width: 100%;
    border-radius: 10px;
  }
  &__photo-wrap {
    position: relative;
    padding: 30px 0;
    margin-bottom: 19px;
    background-color: var(--lightness-grey-color);
  }
  &__button {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &-wrap {
      position: absolute;
      top: 3px;
      right: 0;
    }
    &:not(:last-child) {
      margin-right: 6px;
    }
    &.compare {
      background-image: url('../../../img/compare.svg');
    }
    &.favourite {
      background-image: url('../../../img/favourite.svg');
    }
  }
  &__text {
    &-new,
    &-hit{
      padding: 4px 8px;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 900;
      font-size: 11px;
      color: var(--white-color);
      background: linear-gradient(84.2deg, var(--green-color) 39.66%, var(--yellow-color) 121.84%);
      text-transform: uppercase;
      text-align: center;
      border-radius: 20px;
    }
    &-hit {
      background-color: var(--red-color);
    }
    &-discount {
      width: 44px;
      padding: 3px 0;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 100px;
      color: var(--black-color);
      background-color: var(--yellow-color);
      font-size: 11px;
      text-align: center;
    }
  }
  &__price {
    &-wrap {
      margin-bottom: 6px;
    }
    &-text {
      @include fontSize17;
      display: flex;
      align-items: center;
      font-weight: 700;
      span {
        @include fontSize13;
        margin-left: 14px;
        text-decoration: line-through;
        font-weight: 500;
      }
    }
  }
  &__description {
    &-wrap {
      margin-bottom: 32px;
    }
    &-text {
      @include fontSize13;
      line-height: 22px;
    }
  }
  &__stock {
    &-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 7px;
    }
    &-text {
      @include fontSize12;
      position: relative;
      padding-left: 15px;
      &:not(:last-child) {
        margin-right: 22px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: none;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translateY(-50%);
      }
      &.avaliable {
        &::before {
          display: block;
          background-color: var(--green-color);
        }
      }
      &.not-avaliable {
        &::before {
          display: block;
          background-color: var(--red-color);
        }
      }
    }
  }
  &__rate {
    &-wrap {
      margin-bottom: 11px;
      overflow: hidden;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    &-wrap:not(:checked) > input {
      display: none;
    }
    &-wrap:not(:checked) > label {
      float: right;
      padding: 0;
      cursor: pointer;
      font-size: 20px;
      color: var(--yellow-color);
    }
    &-wrap:not(:checked) > label::before {
      content: '☆';
    }
    &-wrap > input:checked ~ label::before {
      content: '★';
    }
    &-wrap:not(:checked) > label:hover::before,
    &-wrap:not(:checked) > label:hover ~ label::before {
      content: '★';
    }
    &-wrap > input:checked + label:hover::before,
    &-wrap > input:checked + label:hover ~ label::before,
    &-wrap > input:checked ~ label:hover::before,
    &-wrap > input:checked ~ label:hover ~ label::before,
    &-wrap > label:hover ~ input:checked ~ label::before  {
      content: '★';
    }
    &-karma {
      @include fontSize12;
      margin-left: 10px;
    }
  }
  &__append {
    @include contentButton;
    @include fontSize12;
    padding: 11px 18px;
  }
  @media only screen and (max-width: 1439px) {
    &__photo-wrap {
      padding: 27px 0;
      margin-bottom: 17px;
    }
    &__button {
      width: 19px;
      height: 17px;
    }
    &__price-text {
      font-size: inherit;
    }
    &__text {
      &-discount {
        width: 37px;
        padding: 2px 0;
      }
    }
  }
  @media only screen and (max-width: 1199px) {
    &__description-wrap {
      margin-bottom: 43px;
    }
  }
  @media only screen and (max-width: 767px) {
    &__button {
      &-wrap {
        top: 0;
      }
    }
    &__price {
      &-wrap {
        margin-bottom: 10px;
      }
      &-text {
        font-weight: 800;
        span {
          margin-left: 12px;
          font-weight: 300;
        }
      }
    }
    &__photo {
      &-wrap {
        padding: 16px 0;
        margin-bottom: 16px;
      }
    }
    &__description {
      &-wrap {
        margin-bottom: 8px;
      }
      &-text {
        line-height: 18px;
        font-weight: 500;
      }
    }
    &__stock {
      &-wrap {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
      }
      &-text {
        font-size: 12px;
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
    }
    &__rate {
      &-karma {
        margin-left: 9px;
        font-size: 12px;
      }
      &-wrap {
        margin-bottom: 12px;
        &:not(:checked) > label {
          font-size: 18px;
        }
      }
    }
    &__append {
      padding: 12px 20px;
      font-size: 12px;
      font-weight: 500;
    }
    &__text {
      &-new,
      &-hit {
        font-size: 10px
      }
      &-discount {
        width: 40px;
        padding: 4px 0;
        font-size: 10px;
      }
    }
  }
}

.for-mobile {
  display: none;
  @media only screen and (max-width: 1199px) {
    display: inherit;
  }
}

.input-wrap {
  position: relative;
  label {
    @include fontSize13;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: var(--grey-form-color);
    transition: top .2s ease, font .2s ease;
    background-color: var(--white-color);
    padding: 0 10px;
  }
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: 0%;
    font-size: 10px;
    font-weight: 300;
  }
}

.checkbox {
  &__label {
    @include fontSize13;
    padding-left: 30px;
    display: block;
    position: relative;
    cursor: pointer;
    color: var(--black-color);
  }
  &__span {
    position: absolute;
    top: -1px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 1px solid var(--footer-title-color);
    border-radius: 4px;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 5px;
      height: 2px;
      border-width: 3px;
      border-style: solid;
      border-color: transparent transparent var(--yellow-color) var(--yellow-color);
      transform: translate(-50%, -75%) rotate(-45deg);
      transition: opacity .2s ease;
      opacity: 0;
    }
  }
  &:checked + .checkbox__span {
    border: 2px solid var(--yellow-color);
  }
  &:checked + .checkbox__span::after {
    opacity: 1;
  }
}

.radio {
  &__input {
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    &:checked + label,
    &:not(:checked) + label
    {
      @include fontSize13;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      line-height: 15px;
      display: inline-block;
      color: var(--black-color);
    }
    &:checked + label:before,
    &:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        outline: 1px solid var(--footer-title-color);
        border-radius: 100%;
    }
    &:checked + label:after,
    &:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--yellow-color);
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        transition: transform 0.2s ease;
    }
    &:not(:checked) + label::after {
        opacity: 0;
        transform: scale(0);
    }
    &:checked + label::after {
        opacity: 1;
        transform: scale(1);
    }
    &:checked + label::before {
      outline: 2px solid var(--yellow-color);
  }
  }
}

.disable-scroll {
  overflow: hidden;
}

.navigation {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 14px;
      .navigation__link::after {
        content: '/';
        color: var(--darkness-white-color);
        @include fontSize13;
        margin-left: 14px;
      }
    }
  }
  &__link {
    @include fontSize13;
    color: var(--darkness-white-color);
    &.back {
      color: var(--black-color);
      &::before {
        content: '←';
        margin-right: 14px;
        font-size: 18px;
      }
    }
  }
}

@keyframes tremor {
  0%, 25% {
      left: -1px;
      -webkit-transform: translateX(-1%);
      transform: translateX(-1%);
  }
  50%, 100% {
      left: 1px;
      -webkit-transform: translateX(1%);
      transform: translateX(1%);
  }
}