@import '/src/assets/styles/normalize.css';
@import 'mixin';
@import 'fonts';

@import '../../styles/components/popup/popup';

* {
  box-sizing: border-box;
}

:root {
  --white-color: #FFFFFF;
  --lightness-white-color: #F8F8F8;
  --darkness-white-color: #7F7F7F;
  --light-white-color: #E7E7E7;
  --border-color: #EEEEEE;
  --background-color: #EBEBEB;
  --black-color: #282828;
  --yellow-color: #FFE53E;
  --light-yellow-color: #FFE484;
  --yellow-active-color: #FFF08E;
  --green-color: #2FC273;
  --light-green-color: #40CC80;
  --pink-color: #FF3E8F;
  --red-color: #FF0000; // уточнить
  --grey-color: #B9B9B9;
  --light-grey-color: #F4F4F4;
  --footer-title-color: #D7D7D7;
  --footer-text-color: #A4A4A4;
  --footer-background-color: #acacac1e;
}

body,
html {
  min-width: 320px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--black-color);
}

h1, h2, h3, h4, h5, p, a, li, label {
  @include clearStyles;
  letter-spacing: 0.04em;
}

ul {
  @include clearStyles;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

input {
  @include clearStyles;
  letter-spacing: 0.04em;
  font-family: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  @include clearStyles;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@keyframes tremor {
  0%, 25% {
      left: -1px;
      -webkit-transform: translateX(-1%);
      transform: translateX(-1%);
  }
  50%, 100% {
      left: 1px;
      -webkit-transform: translateX(1%);
      transform: translateX(1%);
  }
}