@import '/src/assets/styles/normalize.css';
@import 'mixin';

@font-face {
  font-family: 'GT';
  font-style: normal;
  font-weight: 400;
  src: url('/src/public/fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
       url('/src/public/fonts/GTEestiProDisplay-Regular.woff') format('woff'),
}
@font-face {
  font-family: 'GT';
  font-style: normal;
  font-weight: 500;
  src: url('/src/public/fonts/GTEestiProDisplay-Medium.woff2') format('woff2'),
       url('/src/public/fonts/GTEestiProDisplay-Medium.woff') format('woff'),
}
@font-face {
  font-family: 'GT';
  font-style: normal;
  font-weight: 700;
  src: url('/src/public/fonts/GTEestiProDisplay-Bold.woff2') format('woff2'),
       url('/src/public/fonts/GTEestiProDisplay-Bold.woff') format('woff'),
}
@font-face {
  font-family: 'GT';
  font-style: normal;
  font-weight: 800;
  src: url('/src/public/fonts/GTEestiProDisplay-UltraBold.woff2') format('woff2'),
       url('/src/public/fonts/GTEestiProDisplay-UltraBold.woff') format('woff'),
}

@font-face {
  font-family: 'GT';
  font-style: normal;
  font-weight: 900;
  src: url('/src/public/fonts/GTEestiProDisplay-UltraBold.woff2') format('woff2'),
       url('/src/public/fonts/GTEestiProDisplay-UltraBold.woff') format('woff'),
}

* {
  box-sizing: border-box;
}

:root {
  --lightness-white-color: #F8F8F8;
  --darkness-white-color: #7F7F7F;
  --light-white-color: #E7E7E7;
  --background-color: #EBEBEB;
  --pink-color: #FF3E8F;
  --grey-color: #B9B9B9;
  --light-grey-color: #F4F4F4;
  --footer-title-color: #D7D7D7;
  --footer-background-color: #acacac1e;
  --cart-background-color: #F7F8F9;
  --cart-background-footer-color: #E7E9EC;
  // правильные
  --grey-form-color: #A4A4A4;
  --border-color: #EEEEEE;
  --grey-item-color: #E9E9E9;
  --yellow-color: #FFE53E;
  --light-yellow-color: #FFE484;
  --yellow-active-color: #FFF08E;
  --lightness-grey-color: #F8F8F8;
  --light-green-color: #40CC80;
  --green-color: #1AB28F;
  --red-color: #FF153F;
  --black-color: #161616;
  --white-color: #FFFFFF;
  --dark-grey-color: #545454;
  --black-footer-color: #2C2C2C;
}
body,
html {
  @include fontSize15; //?
  min-width: 320px;
  font-family: 'GT', sans-serif;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--black-color);
}
h1, h2, h3, h4, h5, p, a, li, label, span, div {
  @include clearStyles;
  letter-spacing: 0.04em;
}
ul {
  @include clearStyles;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
input {
  @include clearStyles;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: none;
  outline: none;
  &[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
    &:hover,
    &:focus {
      appearance: none;
      -moz-appearance: textfield;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}
button {
  @include clearStyles;
  letter-spacing: 0.04em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
img {
  width: 100%;
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
  h2 {
    @include fontSize24;
    margin-bottom: 26px;
    font-weight: 900;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  h3 {
    @include fontSize15;
    font-weight: 800;
  }
  @media only screen and (max-width: 1560px) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  @media only screen and (max-width: 1023px) {
    padding-bottom: 6px;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 13px;
  }
}
main {
  padding-top: 123px;
  padding-bottom: 100px;
  @media only screen and (max-width: 1560px) {
    padding-top: 119px;
  }
  @media only screen and (max-width: 1365px) {
    padding-top: 119px;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 103px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 120px;
  max-width: 1680px;
  @media only screen and (max-width: 1439px) {
    max-width: 1320px;
    padding: 0 100px;
  }
  @media only screen and (max-width: 1023px) {
    max-width: 924px;
    padding: 0 50px;
  }
  @media only screen and (max-width: 767px) {
    max-width: 736px;
    padding: 0 16px;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.card-item {
  width: 211px;
  cursor: pointer;
  padding: 20px;
  transition: box-shadow .2s ease;
  &__photo {
    &-wrap {
      position: relative;
      padding: 30px 0;
      margin-bottom: 18px;
      background-color: var(--lightness-grey-color);
      border-radius: 10px;
    }
    &-texts {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-text {
      @include fontSize13;
      padding: 4px 8px;
      color: var(--white-color);
      text-align: center;
      border-radius: 20px;
      &.hit {
        background-color: var(--red-color);
      }
      &.new {
        background-color: var(--green-color);
        display: none; // для теста
      }
      &.discount {
        margin-top: auto; // для теста
        width: 44px;
        padding: 4px 2px;
        color: var(--black-color);
        background-color: var(--yellow-color);
      }
    }
    &-button {
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      &-wrap {
        position: absolute;
        top: 3px;
        right: 0;
        display: flex;
        align-items: center;
      }
      &:not(:last-child) {
        margin-right: 12px;
      }
      &.compare {
        background-image: url('../../../img/compare.svg');
      }
      &.favourite {
        background-image: url('../../../img/favourite.svg');
      }
      &.remove {
        background-image: url('../../../img/remove.svg');
      }
      &.share {
        background-image: url('../../../img/share.svg');
      }
    }
  }
  &__description {
    &-price {
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      font-weight: 800;
      font-size: 17px;
      span {
        @include fontSize13;
        margin-left: 14px;
        text-decoration: line-through;
        font-weight: 500;
      }
    }
    &-text {
      @include fontSize13;
      margin-bottom: 13px;
      line-height: 22px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &-stock {
      @include fontSize13;
      display: none;
      position: relative;
      padding-left: 13px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: none;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translateY(-50%);
      }
      &.avaliable {
        display: block;
        &::before {
          display: block;
          background-color: var(--green-color);
        }
      }
      &.not-avaliable {
        display: block;
        &::before {
          display: block;
          background-color: var(--red-color);
        }
      }
      &-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
      }
    }
  }
  &__wrap {
    .not-clicked-rate {
      &-wrap {
        margin-bottom: 16px;
      }
    }
  }
  &__button {
    @include contentButton;
    @include fontSize13;
    padding: 12px 16px;
  }
  &:hover {
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    @media only screen and (max-width: 1439px) {
      box-shadow: none;
    }
  }
  @media only screen and (max-width: 1560px) {
    &__photo {
      &-wrap {
        margin-bottom: 14px;
        padding: 26px 0;
      }
      &-button {
        &-wrap {
          top: 0;
        }
      }
    }
  }
  @media only screen and (max-width: 1439px) {
    &__photo {
      &-wrap {
        padding: 27px 0;
        margin-bottom: 17px;
      }
      &-button {
        width: 19px;
        height: 17px;
      }
      &-text {
        &.discount {
          padding: 2px 0;
        }
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    padding: 0;
  }
  @media only screen and (max-width: 767px) {
    &__photo {
      &-wrap {
        padding: 16px 0;
        margin-bottom: 16px;
      }
      &-button {
        &-wrap {
          top: 0;
        }
      }
      &-text {
        padding: 2px 6px;
        font-size: 8px;
        &.discount {
          width: 40px;
          padding: 4px 0;
          font-size: 12px;
        }
      }
    }
    &__description {
      &-price {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 800;
        span {
          margin-top: 6px;
          margin-left: 0;
        }
      }
      &-text {
        margin-bottom: 8px;
        line-height: 18px;
        font-weight: 500;
      }
      &-stock {
        font-size: 12px;
        &:not(:last-child) {
          margin-bottom: 3px;
        }
        &-wrap {
          margin-bottom: 10px;
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &-wrap {
        .not-clicked-rate {
          &-wrap {
            margin-bottom: 12px;
          }
          &-karma {
            margin-left: 9px;
            font-size: 12px;
          }
        }
      }
    }
    &__button {
      padding: 12px 20px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
.for-mobile {
  display: none;
  @media only screen and (max-width: 1365px) {
    display: inherit;
  }
}
.input-wrap {
  position: relative;
  input {
    @include contentInput;
    padding: 14px 0;
    border-bottom: 1px solid var(--border-color);
    &:focus {
      border-bottom: 1px solid var(--black-color);
    }
  }
  label {
    @include fontSize14;
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: var(--grey-form-color);
    transition: top .2s ease, font .2s ease;
  }
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: 0%;
    font-size: 10px;
  }
}
.input-wrap-file {
  input {
    display: none;
  }
  label {
    @include fontSize14;
    display: block;
    padding: 14px 50px 14px 30px;
    color: var(--grey-form-color);
    background-image: url('../../../img/file.svg');
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: 1px dashed var(--grey-form-color);
    cursor: pointer;
  }
}
.checkbox {
  &__label {
    @include fontSize13;
    padding-left: 30px;
    display: block;
    position: relative;
    cursor: pointer;
    color: var(--black-color);
  }
  &__span {
    position: absolute;
    top: -2px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 1px solid var(--footer-title-color);
    border-radius: 4px;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 10px;
      background-image: url('/src/public/img/checked.svg');
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
      transition: opacity .2s ease;
      opacity: 0;
    }
  }
  &:checked + .checkbox__span {
    border: 2px solid var(--yellow-color);
  }
  &:checked + .checkbox__span::after {
    opacity: 1;
  }
}
.radio {
  &__input {
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    &:checked + label,
    &:not(:checked) + label {
      @include fontSize13;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      line-height: 15px;
      display: inline-block;
      color: var(--black-color);
    }
    &:checked + label:before,
    &:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: -2px;
        width: 16px;
        height: 16px;
        border: 1px solid var(--footer-title-color);
        border-radius: 100%;
    }
    &:checked + label:after,
    &:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--yellow-color);
        position: absolute;
        top: 13%;
        left: 4px;
        border-radius: 100%;
        transform: translate(0, -50%);
        transition: transform 0.2s ease;
    }
    &:not(:checked) + label::after {
        opacity: 0;
        transform: scale(0);
    }
    &:checked + label::after {
        opacity: 1;
        transform: scale(1);
    }
    &:checked + label::before {
      border: 1px solid var(--yellow-color);
    }
  }
}
.disable-scroll {
  overflow: hidden;
}
.navigation {
  margin-bottom: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 14px;
      .navigation__link::after {
        content: '/';
        color: var(--darkness-white-color);
        @include fontSize13;
        margin-left: 14px;
      }
    }
  }
  &__link {
    @include fontSize13;
    color: var(--darkness-white-color);
    &.back {
      color: var(--black-color);
      &::before {
        content: '←';
        margin-right: 14px;
        font-size: 18px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
    &__item {
      &:first-child {
        display: none;
      }
      &:not(:last-child) {
        margin-right: 5px;
        .navigation__link::after {
          content: '—';
          color: var(--darkness-white-color);
          @include fontSize13;
          margin-left: 5px;
        }
      }
    }
  }
}
.skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
}
.aboutapp {
  padding-top: 52px;
  padding-bottom: 0;
  background-image: url('../../../img/aboutapp-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  &__description-wrap {
    padding-top: 31px;
  }
  &__text {
    @include fontSize32;
    padding: 25px 0 32px 164px;
    margin-bottom: 19px;
    font-weight: 900;
    line-height: 42px;
    background-image: url('../../../img/qrcode.svg');
    background-repeat: no-repeat;
  }
  &__img {
    margin-right: 80px;
  }
  &__wrap {
    display: flex;
    max-width: 1180px;
    &-list {
      display: flex;
    }
    &-item {
      border-radius: 6px;
      width: 184px;
      background-color: var(--white-color);
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
    &-link {
      @include fontSize12;
      padding: 9px 14px 9px 49px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 12px center;
      font-weight: 500;
      color: var(--black-color);
      span {
        @include fontSize18;
        font-weight: 700;
      }
      &.google-play {
        background-image: url('../../../img/google-play.svg');
      }
      &.app-store {
        background-image: url('../../../img/app-store-black.svg');
      }
      &.app-gallery {
        background-image: url('../../../img/app-gallery.svg');
      }
    }
  }
  @media only screen and (max-width: 1560px) {
    padding-top: 27px;
    &__wrap {
      max-width: 1140px;
    }
    &__img {
      margin-right: 56px;
    }
    &__description {
      &-wrap {
        padding-top: 48px;
      }
    }
    &__text {
      margin-bottom: 16px;
      padding: 25px 0 32px 182px;
    }
  }
  @media only screen and (max-width: 1439px) {
    padding-top: 26px;
    &__description {
      &-wrap {
        padding-top: 49px;
      }
    }
    &__text {
      padding: 25px 0 22px 164px;
      margin-bottom: 26px;
    }
  }
  @media only screen and (max-width: 1365px) {
    &__img {
      width: 237px;
    }
    &__description {
      &-wrap {
        padding-top: 33px;
      }
    }
    &__text {
      padding: 15px 0 22px 141px;
      margin-bottom: 23px;
      background-size: 24%;
      font-size: 28px;
      line-height: 38px;
    }
    &__wrap {
      max-width: 894px;
      &-item {
        width: 141px;
        &:not(:last-child) {
          margin-right: 17px;
        }
      }
      &-link {
        padding: 6px 14px 11px 33px;
        font-size: 9px;
        background-size: 13%;
        background-position: 9px center;
        span {
          font-size: 14px;
        }
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    &__wrap {
      max-width: 795px;
    }
  }
  @media only screen and (max-width: 767px) {
    padding-top: 21px;
    &__img {
      width: 137px;
      margin-right: 18px;
    }
    &__text {
      padding: 0;
      margin-bottom: 12px;
      background-image: unset;
      font-size: 15px;
      line-height: 21px;
    }
    &__wrap {
      &-item {
        &:not(:last-child) {
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
      &-list {
        margin-bottom: 23px;
        flex-direction: column;
      }
      &-link {
        padding: 5px 8px 5px 35px;
        font-size: 7px;
        span {
          font-size: 11px;
        }
      }
    }
    &__description {
      &-wrap {
        padding-top: 0;
      }
    }
  }
}
.dot {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  &:not(:last-child) {
    margin-bottom: 18px;
  }
  &__prop {
    position: relative;
    width: 70%;
    span {
      align-items: flex-start;
      display: inline;
      padding-right: 3px;
      position: relative;
      background-color: var(--white-color);
    }
    &::before {
      border-bottom: 1px dotted var(--light-white-color);
      bottom: 0.2em;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  &__value {
    padding-left: 3px;
    width: 30%;
  }
}
.not-clicked-rate {
  width: 265px;
	margin: 0 auto;
  &-wrap {
    display: flex;
    align-items: center;
    span {
      color: var(--yellow-color);
      &:not(:last-child) {
        margin-right: 3px;
      }
      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/src/public/img/star.svg');
      }
      &.active {
        &::before {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('/src/public/img/star-active.svg');
        }
      }
    }
  }
  &-karma {
    @include fontSize12;
    margin-left: 10px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    display: none;
    &:checked {
      + .slider {
        background-color: var(--yellow-color);
        &::before {
          transform: translateX(26px);
        }
      }
    }
    &:focus {
      + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: var(--grey-color);
    transition: transform .4s ease, background .4s ease;
    &::before {
      content: '';
      position: absolute;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: var(--white-color);
      transition: transform .4s ease, background .4s ease;
      border-radius: 50%;
    }
  }
}

@keyframes tremor {
  0%, 25% {
      left: -1px;
      -webkit-transform: translateX(-1%);
      transform: translateX(-1%);
  }
  50%, 100% {
      left: 1px;
      -webkit-transform: translateX(1%);
      transform: translateX(1%);
  }
}