@mixin clearStyles {
  margin: 0;
  padding: 0;
}
@mixin fontSize30 {
  font-size: 30px;
}
@mixin fontSize24 {
  font-size: 24px;
  @media only screen and (max-width: 1440px) {
    font-size: 22px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}
@mixin fontSize22 {
  font-size: 22px;
}
@mixin fontSize19 {
  font-size: 19px;
}
@mixin fontSize17 {
  font-size: 17px;
}
@mixin fontSize15 {
  font-size: 15px;
}
@mixin fontSize14 {
  font-size: 14px;
  @media only screen and (max-width: 1440px) {
    font-size: 13px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 11px;
  }
}
@mixin fontSize13 {
  font-size: 13px;
  @media only screen and (max-width: 768px) {
    font-size: 11px;
  }
}
@mixin fontSize12 {
  font-size: 12px;
}
@mixin contentButton {
  cursor: pointer;
  background-color: var(--yellow-color);
  border-radius: 10px;
  color: var(--black-color);
}
@mixin closeButton {
  position: absolute;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    transform: rotate(45deg) translateY(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    transform: rotate(-45deg) translateY(-50%);
  }
}
@mixin contentInput {
  @include fontSize13;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--grey-color);
  &::placeholder {
    color: var(--grey-color);
  }
  &:focus {
    border-color: var(--black-color);
  }
  &.is-not-valid {
    border-color: var(--red-color);
    animation: 0.1s tremor ease-out 1; 
  }
}
@mixin swiperArrowsIndexPage {
  &-prev,
  &-next {
    width: 42px;
    height: 42px;
    top: unset;
    bottom: 5px;
    border-radius: 100px;
    background-color: var(--white-color);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    &::after {
      font-size: 12px;
      color: var(--black-color);
    }
  }
  &-prev {
    right: 70px;
    left: unset;
  }
}