@mixin clearStyles {
  margin: 0;
  padding: 0;
}

@mixin fontSize35 {
  font-size: 35px;
  font-weight: 800;
  line-height: 45px;
  @media only screen and (max-width: 1023px) {
    font-size: 30px;
    line-height: 40px;
  }
}
@mixin fontSize30 {
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  @media only screen and (max-width: 1023px) {
    font-size: 24px;
    line-height: 34px;
  }
}
@mixin fontSize24 {
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  @media only screen and (max-width: 1023px) {
    font-size: 20px;
    line-height: 32px;
  }
}
@mixin fontSize20 {
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  @media only screen and (max-width: 1365px) {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
}
@mixin fontSize18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  @media only screen and (max-width: 1023px) {
    font-size: 16px;
  }
}
@mixin fontSize16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  @media only screen and (max-width: 1023px) {
    font-size: 14px;
    line-height: 25px;
  }
}
@mixin fontSize15 {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
}
@mixin fontSize14 {
  font-size: 14px;
  line-height: 25px;
}
@mixin fontSize13 {
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
}
@mixin fontSize11 {
  font-size: 11px;
  line-height: 20px;
}

@mixin contentButton {
  padding: 14px 26px;
  background-color: var(--primary-color);
  border-radius: 100px;
  color: var(--black-color);
  cursor: pointer;
}
@mixin closeButton {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url("../../../img/close-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin miniCloseButton {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background-image: url("../../../img/close-button-mini.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin contentInput {
  @include fontSize14;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  transition: border 0.2s ease;
  &::placeholder {
    color: var(--grey-color);
  }
  &:hover {
    // border-color: var(--dark-grey-color);
  }
  &:focus {
    border-color: var(--primary-color);
  }
  &.is-not-valid {
    border-color: var(--red-color);
    animation: 0.1s tremor ease-out 1;
  }
  &.is-valid {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url("../../../img/is-valid.svg");
  }
}
@mixin swiperArrowsIndexPage {
  &-prev,
  &-next {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    // border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    &::after {
      width: 10px;
      height: 14px;
      font-size: 0;
      background-image: url("../../../img/swiper-arrow.svg");
      background-repeat: no-repeat;
    }
  }
  &-prev {
    left: 5px;
    &::after {
      transform: rotate(180deg);
    }
  }
  &-next {
    right: 5px;
  }
  @media only screen and (max-width: 1023px) {
    &-prev,
    &-next {
      display: none;
    }
  }
}
@mixin tabsList {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  li {
    @include fontSize16;
    padding: 15px 0;
    color: var(--grey-form-color);
    font-weight: 700;
    cursor: pointer;
    transition: color 0.2s ease, border-color 0.2s ease;
    &.is-active {
      color: var(--black-color);
      border-bottom: 2px solid var(--black-color);
    }
    &:not(:last-child) {
      margin-right: 78px;
    }
  }
}
@mixin tabsMiniList {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  li {
    @include fontSize16;
    padding: 13px 22px;
    border: 1px solid var(--darkness-white-color);
    cursor: pointer;
    &.is-active {
      border-color: var(--primary-color);
      background-color: var(--primary-color);
    }
  }
}
@mixin contentScroll {
  &::-webkit-scrollbar {
    width: 3px;
    &-track {
      border-radius: 10px;
      background: var(--grey-item-color);
    }
    &-thumb {
      border-radius: 10px;
      background-color: var(--secondary-color);
    }
  }
}
