@mixin clearStyles {
  margin: 0;
  padding: 0;
}
@mixin fontSize32 {
  font-size: 32px;
  @media only screen and (max-width: 1023px) {
    font-size: 26px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 16px;
  }
}
@mixin fontSize30 {
  font-size: 30px;
}
@mixin fontSize24 {
  font-size: 24px;
  @media only screen and (max-width: 1560px) {
    font-size: 22px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 18px;
  }
}
@mixin fontSize22 {
  font-size: 22px;
}
@mixin fontSize20 {
  font-size: 20px;
}
@mixin fontSize19 {
  font-size: 19px;
}
@mixin fontSize18 {
  font-size: 18px;
  @media only screen and (max-width: 1023px) {
    font-size: 14px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 11px;
  }
}
@mixin fontSize17 {
  font-size: 17px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
}
@mixin fontSize15 {
  font-size: 15px;
  @media only screen and (max-width: 1023px) {
    font-size: 15px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
}
@mixin fontSize14 {
  font-size: 14px;
  @media only screen and (max-width: 1560px) {
    font-size: 13px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
}
@mixin fontSize13 {
  font-size: 13px;
}
@mixin fontSize12 {
  font-size: 12px;
}
@mixin contentButton {
  cursor: pointer;
  padding: 16px 26px;
  background-color: var(--yellow-color);
  border-radius: 100px;
  color: var(--black-color);
}
@mixin closeButton {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url('../../../img/close-button.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin miniCloseButton {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background-image: url('../../../img/close-button-mini.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin contentInput {
  @include fontSize14;
  width: 100%;
  border-bottom: 1px solid var(--grey-form-color);
  transition: border .2s ease;
  &::placeholder {
    color: var(--grey-color);
  }
  &:hover {
    border-color: var(--dark-grey-color);
  }
  &:focus {
    border-color: var(--black-color);
  }
  &.is-not-valid {
    border-color: var(--red-color);
    animation: 0.1s tremor ease-out 1; 
  }
}
@mixin swiperArrowsIndexPage {
  &-prev,
  &-next {
    top: 0;
    height: 100%;
    border-radius: 100px;
    &::after {
      font-size: 20px;
      color: var(--black-color);
    }
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
  @media only screen and (max-width: 1023px) {
    &-prev,
    &-next {
      display: none;
    }
  }
}
@mixin tabsList {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  li {
    @include fontSize17;
    font-weight: 800;
    color: var(--grey-form-color);
    padding: 15px 0;
    cursor: pointer;
    &.is-active {
      color: var(--black-color);
      border-bottom: 2px solid var(--black-color);
    }
    &:not(:last-child) {
      margin-right: 78px;
    }
  }
}
@mixin tabsMiniList {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  li {
    @include fontSize13;
    padding: 13px 22px;
    border-radius: 100px;
    border: 1px solid var(--darkness-white-color);
    cursor: pointer;
    &.is-active {
      border-color: var(--yellow-color);
      background-color: var(--yellow-color);
    }
  }
}