.main {
  .shop {
    &__title {
      width: 100%;
    }
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 360px;
      padding: 24px 0;
      &-title {
        @include fontSize17;
        margin-bottom: 6px;
        font-weight: 800;
      }
      &-address,
      &-text,
      &-tel {
        @include fontSize14;
        font-style: normal;
      }
      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }
    }
    &__slide {
      padding-bottom: 30px;
    }
    .swiper-pagination {
      bottom: 0;
      &-bullet {
        margin: 0 10px !important;
        width: 6px;
        height: 6px;
        &-active {
          background: var(--dark-grey-color);
        }
      }
    }
    .swiper-shop {
      max-width: 935px;
      margin-right: 0;
    }
  }
  .services {
    margin-bottom: 85px;
    &__list {
      width: max-content;
      display: flex;
      justify-content: space-between;
    }
    &__item {
      @include fontSize14;
      padding: 10px 26px;
      border-radius: 100px;
      border: 1px solid var(--border-color);
      &:not(:last-child) {
        margin-right: 19px;
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .shop {
      .swiper-shop {
        max-width: 707px;
      }
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .shop {
      &__item {
        width: 250px;
      }
      .swiper-shop {
        max-width: 537px;
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .shop {
      &__wrap {
        flex-direction: column;
      }
      &__list {
        order: 1;
      }
      &__item {
        width: 100%;
      }
      .swiper-shop {
        max-width: 100%;
        margin-right: auto;
      }
    }
    .services {
      margin-bottom: 58px;
      &__list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
      }
      &__item {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}