.main {
  padding-bottom: 0;
  .shop {
    padding-bottom: 84px;
    &__title {
      width: 100%;
      margin-bottom: 65px;
    }
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 457px;
      padding: 20px 0;
      &-title {
        @include fontSize16;
        margin-bottom: 6px;
        font-weight: 700;
      }
      &-address,
      &-text,
      &-tel {
        @include fontSize14;
        font-style: normal;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #2d2a28;
      }
    }
    &__slide {
      padding-bottom: 30px;
    }
    &__img {
      height: 100%;
      object-fit: fill;
    }
    .swiper-pagination {
      bottom: 0;
      &-bullet {
        margin: 0 10px !important;
        width: 6px;
        height: 6px;
        &-active {
          background: var(--dark-grey-color);
        }
      }
    }
    .swiper-shop {
      max-width: 860px;
      height: 385px;
      margin-right: 0;
    }
  }
  .services {
    margin-bottom: 85px;
    &__list {
      width: max-content;
      display: flex;
      justify-content: space-between;
    }
    &__item {
      @include fontSize14;
      padding: 10px 26px;
      border-radius: 100px;
      border: 1px solid var(--border-color);
      &:not(:last-child) {
        margin-right: 19px;
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .shop {
      .swiper-shop {
        max-width: 707px;
      }
    }
  }
}
@media only screen and (max-width: 1439px) {
  .main {
    .shop {
      .swiper-shop {
        max-width: 600px;
      }
    }
  }
}
@media only screen and (max-width: 1365px) {
  .main {
    .shop {
      &__title {
        margin-bottom: 29px;
      }
      &__wrap {
        flex-direction: column;
      }
      &__list {
        order: 1;
      }
      &__item {
        width: 100%;
      }
      &__img {
        object-fit: contain;
      }
      &__slide {
        padding-bottom: 0;
      }
      .swiper-shop {
        max-width: 100%;
        // height: 360px;
        margin-right: auto;
        .swiper-pagination {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    .shop {
      .swiper-shop {
        height: 292px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .main {
    .shop {
      &__title {
        margin-bottom: 14px;
      }
      .swiper-shop {
        height: 160px;
      }
    }
  }
}
