.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#282828, 0.5);
  }
  &__wrap {
    @include contentScroll;
    padding: 50px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow-x: hidden;
    max-height: 100vh;
    border-radius: 15px;
    background-color: var(--white-color);
    transform: translate(-50%, -50%);
    z-index: 1;
    &-title {
      @include fontSize20;
      margin-bottom: 60px;
    }
    &-subtitle {
      @include fontSize16;
      margin-bottom: 26px;
    }
    &-text {
      @include fontSize14;
      margin-bottom: 14px;
    }
    &-input {
      @include contentInput;
      @include fontSize14;
      font-weight: 600;
    }
    &-button {
      @include contentButton;
      @include fontSize14;
      padding: 14px 26px;
      margin-top: 25px;
      font-weight: 600;
      &:disabled {
        background-color: var(--cart-background-color);
      }
    }
    &-close {
      @include closeButton;
    }
    &-top {
      &-title {
        @include fontSize20;
        margin-bottom: 30px;
        font-weight: 800;
      }
      &-text {
        @include fontSize14;
        margin-bottom: 30px;
      }
      .popup__wrap-button {
        margin: 0;
        &:nth-child(1) {
          margin-right: 15px;
          border: 1px solid var(--primary-color);
        }
        &:nth-child(2) {
          background-color: transparent;
          border: 1px solid var(--black-color);
        }
      }
    }
    .choose-cities {
      &__wrap {
        display: none;
      }
      &__input {
        @include contentInput;
        @include fontSize14;
        padding: 14px 0;
        width: 572px;
        margin-bottom: 36px;
        line-height: initial;
      }
      &__item {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  &__form {
    &-title {
      @include fontSize15;
      margin-bottom: 24px;
      font-weight: 800;
    }
    &-text {
      @include fontSize14;
    }
    &-textarea {
      @include fontSize14;
      width: 100%;
      padding: 6px;
      resize: none;
      &.is-not-valid {
        border-color: var(--red-color);
        animation: 0.1s tremor ease-out 1;
      }
    }
    .attention {
      display: inline-block;
      font-size: 10px;
      color: var(--red-color);
      animation: 0.1s tremor ease-out 1;
    }
  }
  &__personal {
    &-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 26px;
      .input-wrap {
        width: 273px;
        margin-bottom: 40px;
        input {
          line-height: initial;
        }
        &-file {
          grid-area: 3 / 1 / 4 / 3;
        }
      }
      @media only screen and (max-width: 767px) {
        display: block;
      }
    }
  }
  &__hobbies {
    &-wrap {
      margin-bottom: 34px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 26px;
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    &__wrap {
      padding: 50px 30px;
      width: 100%;
      max-height: 80vh;
      &-title {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    &__form {
      &-title {
        font-size: 14px;
        margin-bottom: 17px;
      }
    }
  }
}
#popup-status,
#popup-city {
  .popup {
    &__wrap {
      padding: 40px 50px;
      &-input {
        padding: 14px 0;
        line-height: 1;
      }
      @media only screen and(max-width:767px) {
        .choose-cities__input {
          width: 100%;
        }
      }
    }
  }
}
#popup-review {
  .popup {
    &__wrap {
      &-title {
        margin-bottom: 18px;
      }
      .clicked-rate {
        margin-bottom: 40px;
      }
    }
    &__form {
      &-textarea {
        margin-bottom: 41px;
        outline: none;
        border: 1px solid var(--black-color);
      }
    }
  }
}
#popup-status {
  .popup {
    &__wrap {
      &-button {
        width: 100%;
        margin-top: 34px;
      }
    }
  }
}
#popup-authorize {
  .popup {
    &__wrap {
      max-width: 430px;
      &-title {
        margin-bottom: 18px;
      }
      &-input {
        padding: 8px 0;
        margin-bottom: 25px;
      }
      &-button {
        width: 100%;
        margin-top: 0;
        &.forgot-password {
          width: fit-content;
          display: block;
          margin: 0 auto;
          position: relative;
          background: unset;
          padding: 0;
          transition: text 0.2s ease;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--black-color);
            opacity: 0;
            transition: opacity 0.2s ease;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
        &:not(.forgot-password) {
          margin-bottom: 13px;
        }
      }
      .authorize-switcher {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        background-color: var(--cart-background-color);
        border-radius: 100px;
        &__button {
          @include fontSize14;
          padding: 9px 40px;
          color: var(--grey-form-color);
          border-radius: 100px;
          transition: background 0.2s ease;
          &.active {
            background-color: var(--white-color);
            color: var(--black-color);
          }
          &:hover {
            background-color: var(--white-color);
          }
          @media only screen and (max-width: 767px) {
            padding: 9px 25px;
          }
        }
      }
      .tab__target {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
}
#popup-change-userdata,
#popup-change-password,
#popup-card {
  .popup {
    &__personal {
      &-wrap {
        display: block;
        .input-wrap {
          width: 421px;
          @media only screen and(max-width:767px) {
            width: 100%;
          }
        }
      }
    }
    &__form {
      .buttons-wrap {
        display: flex;
        justify-content: space-between;
        @media only screen and(max-width: 767px) {
          flex-direction: column;
          align-items: center;
        }
      }
    }
    &__wrap {
      &-button {
        &.background--transparent {
          background: transparent;
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
      }
      .input-wrap {
        .show-password {
          position: absolute;
          top: 50%;
          right: 0;
          width: 21px;
          height: 19px;
          background-repeat: no-repeat;
          background-position: center;
          transform: translate(0, -50%);
          &.showed {
            background-image: url("../../../img/showed.svg");
          }
          &.hidden {
            background-image: url("../../../img/hidden.svg");
          }
        }
        .dropdown-cities {
          &-list {
            @include contentScroll;
            max-width: 470px;
            position: absolute;
            top: 50px;
            left: 0;
            border-radius: 10px;
            background-color: var(--white-color);
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
            z-index: 1;
          }
          &-item {
            @include fontSize14;
            padding: 14px 30px;
            transition: background 0.2s ease;
            cursor: pointer;
            &:not(:last-child) {
              border-bottom: 1px solid var(--black-color);
            }
            &:hover {
              background-color: var(--light-grey-color);
            }
          }
        }
      }
    }
  }
}
#popup-ad {
  .popup {
    &__ad {
      &-wrap {
        display: grid;
        grid-template-columns: repeat(2, minmax(280px, 334px));
        gap: 35px 50px;
        &:nth-child(2) {
          margin-bottom: 60px;
        }
        &:nth-child(4) {
          margin-bottom: 50px;
        }
        .choices {
          margin-bottom: 0;
          &__inner {
            padding: 14px 0px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid var(--black-color);
            &.is-not-valid {
              border-color: var(--red-color);
            }
          }
          &__list {
            &--single {
              padding: 0;
            }
            &--dropdown {
              box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08);
              border-radius: 27px;
              border: none;
              .choices__placeholder {
                display: none;
              }
              .choices__input {
                padding: 15px 30px;
              }
              .choices__item {
                @include fontSize14;
                padding: 15px 30px;
                &.is-selected {
                  background-color: var(--cart-background-color);
                }
                &:hover {
                  background-color: var(--cart-background-color);
                }
              }
            }
            .choices__placeholder {
              color: var(--grey-color);
              opacity: 1;
            }
          }
        }
        @media only screen and (max-width: 767px) {
          display: block;
          .input-wrap,
          .choices {
            margin-bottom: 20px;
          }
        }
      }
    }
    &__form {
      .textarea {
        @include contentScroll;
        @include fontSize14;
        width: 100%;
        padding: 15px 20px;
        border: 1px solid var(--secondary-color);
        resize: none;
        &-wrap {
          margin-bottom: 30px;
          position: relative;
          width: 100%;
          .text-for-textarea {
            @include fontSize11;
            position: absolute;
            bottom: 10px;
            right: 15px;
            color: var(--grey-form-color);
          }
        }
        &:focus {
          outline: none;
          border-color: var(--primary-color);
        }
        &.is-not-valid {
          border-color: var(--red-color);
          animation: 0.1s tremor ease-out 1;
        }
      }
      .input-wrap-file {
        margin-bottom: 50px;
      }
    }
  }
}
#popup-analog {
  .popup {
    &__wrap {
      max-width: 450px;
    }
    &__form {
      .input-wrap {
        margin-bottom: 15px;
      }
    }
  }
}

#popup-available {
  .popup {
    &__wrap {
      .availability {
        &__list {
          @include contentScroll;
          max-height: 373px;
          overflow-x: hidden;
        }
        &__item {
          padding: 10px 30px 10px 0;
        }
      }
    }
  }
}
