.popup {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#282828, 0.5);
    z-index: 998;
  }
  &__wrap {
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--white-color);
    transform: translate(-50%, -50%);
    z-index: 999;
    overflow: scroll;
    &-title {
      @include fontSize22;
      font-weight: 900;
      margin-bottom: 60px;
    }
    &-text {
      @include fontSize13;
      margin-bottom: 14px;
    }
    &-input {
      @include contentInput;
      padding: 11px 18px;
    }
    &-button {
      @include contentButton;
      @include fontSize13;
      padding: 16px 26px;
    }
    &-close {
      @include closeButton;
      width: 12px;
      top: 15px;
      right: 10px;
    }
  }
  &__form {
    &-title {
      @include fontSize17;
      margin-bottom: 24px; 
      font-weight: 800;
    }
  }
  @media only screen and (max-width: 767px) {
    &__wrap {
      &-title {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    &__form {
      &-title {
        font-size: 14px;
        margin-bottom: 17px;
      }
    }
  }
}
#popup-status {
  .popup {
    &__wrap {
      padding: 24px;
      width: 218px;
      &-input {
        margin-bottom: 18px;
      }
    }
  }
}
#popup-bonuscard {
  .popup {
    &__wrap {
      width: 702px;
      padding: 60px 66px;
      &-input {
        padding: 15px 20px;
        font-weight: 500;
      }
      &-close {
        top: 30px;
        right: 30px;
        width: 21px;
        &::before,
        &::after {
          background-color: var(--grey-form-color);
        }
      }
    }
    &__personal {
      &-wrap {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 26px;
        .input-wrap {
          &:first-child { grid-area: 1 / 1 / 2 / 2; }
          &:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
          &:nth-child(3) { grid-area: 2 / 1 / 3 / 3; }
          &:nth-child(4) { grid-area: 3 / 1 / 4 / 3; }
          &:nth-child(5) { grid-area: 4 / 1 / 5 / 2; }
          &:last-child { grid-area: 4 / 2 / 5 / 3; }
        }
      }
    }
    &__hobbies {
      &-left-column {
        width: 50%;
        margin-right: 26px;
      }
      &-wrap {
        display: flex;
        margin-bottom: 38px;
      }
      &-item {
        .checkbox {
          &__label {
            margin-bottom: 0 !important;
          }
        }
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
    &__form {
      .checkbox {
        &__label {
          margin-bottom: 27px;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .popup {
      &__wrap {
        width: 98%;
        padding: 37px 16px;
        &-close {
          top: 16px;
          right: 16px;
          width: 15px;
        }
      }
      &__personal {
        &-wrap {
          display: block;
          .input-wrap {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
      &__hobbies {
        &-wrap {
          display: block;
          margin-bottom: 29px;
        }
        &-left-column {
          width: 100%;
          margin-bottom: 24px;
        }
        &-item {
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
#popup-city {
  .popup {
    &__wrap {
      height: unset;
      min-width: 310px;
      padding: 21px 25px;
      &-text {
        @include fontSize13;
        margin-bottom: 10px;
        text-align: center;
      }
      &-button {
        @include contentButton;
        @include fontSize13;
        padding: 12px 26px;
        &-wrap {
          display: flex;
          justify-content: space-between;
        }
        &:nth-child(2) {
          background-color: transparent;
          border: 1px solid var(--black-color);
        }
      }
      .choose-cities {
        &__wrap {
          display: none;
          padding: 34px 40px;
          width: 672px;
        }
        &__title {
          @include fontSize19;
          margin-bottom: 16px;
          font-weight: 800;
        }
        &__input {
          @include fontSize15;
          width: 100%;
          margin-bottom: 36px;
          padding: 9px 10px 9px 0;
          border-bottom: 2px solid var(--black-color);
          background-repeat: no-repeat;
          background-image: url('../../../img/search.svg');
          background-position: center right;
          &::placeholder {
            color: var(--grey-form-color);
          }
        }
        &__list {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
        &__item {
          &:not(:last-child) {
            margin-bottom: 18px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .popup {
      &__wrap {
        .choose-cities {
          &__wrap {
            padding: 0;
            width: 100%;
          }
          &__title {
            font-size: 18px;
          }
          &__input {
            min-width: 270px;
            padding: 5px 10px 5px 0;
            font-size: 12px;
          }
          &__item {
            label {
              padding-left: 0;
              &::before,
              &::after {
                display: none;
              }
            }
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}