.main {
  .banner {
    background-image: url("../../../img/partners-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 510px;
    &__wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__title {
      @include fontSize35;
      max-width: 600px;
      margin-bottom: 37px;
      font-weight: 800;
      color: var(--white-color);
      text-align: center;
    }
    &__link {
      @include contentButton;
      @include fontSize14;
    }
  }
  .description {
    &__wrap {
      padding-top: 128px;
      padding-bottom: 128px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(auto, 290px));
      align-items: center;
      justify-content: center;
      grid-column-gap: 145px;
    }
    &__item {
      padding-top: 87px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center 15px;
      background-size: 54px;
      &-title {
        @include fontSize20;
        margin-bottom: 14px;
        font-weight: 700;
      }
      &-text {
        @include fontSize16;
      }
      &:first-child {
        background-image: url("../../../img/blank.svg");
      }
      &:nth-child(2) {
        background-image: url("../../../img/feedback.svg");
      }
      &:last-child {
        background-image: url("../../../img/contract.svg");
      }
    }
  }
  .blank {
    &__wrap {
      max-width: 960px;
    }
    &__title {
      margin-bottom: 70px;
    }
    &__form {
      position: relative;
      &-dropdown {
        max-width: 470px;
        position: absolute;
        top: 115px;
        left: 0;
        border-radius: 10px;
        background-color: var(--white-color);
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
        z-index: 1;
        &-item {
          @include fontSize14;
          padding: 14px 30px;
          transition: background 0.2s ease;
          cursor: pointer;
          &:not(:last-child) {
            border-bottom: 1px solid var(--black-color);
          }
          &:hover {
            background-color: var(--light-grey-color);
          }
        }
      }
      &-item {
        margin-bottom: 60px;
        .input-wrap {
          width: 100%;
          input {
            @include fontSize14;
          }
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
        &:nth-child(5) {
          .blank__form-title {
            margin-bottom: 10px;
          }
        }
      }
      &-input {
        padding-right: 25px;
      }
      &-title {
        @include fontSize18;
        margin-bottom: 40px;
        font-weight: 800;
      }
      &-text {
        @include fontSize14;
        margin-bottom: 50px;
      }
      &-button {
        @include contentButton;
        width: 100%;
      }
      &-subtext {
        margin-bottom: 50px;
      }
      &-radio {
        &-wrap {
          padding-bottom: 20px;
          label {
            &:not(:last-child) {
              margin-right: 57px;
            }
          }
          &.is-not-valid {
            border-bottom: 1px solid var(--red-color);
            margin-bottom: -1px;
            animation: 0.1s tremor ease-out 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .banner {
      height: 480px;
    }
    .description {
      &__wrap {
        grid-column-gap: 87px;
      }
    }
  }
}

@media only screen and (max-width: 1365px) {
  .main {
    .banner {
      height: 390px;
      &__title {
        margin-bottom: 30px;
        font-size: 30px;
      }
    }
    .description {
      &__wrap {
        padding-top: 96px;
        padding-bottom: 124px;
        grid-template-columns: repeat(auto-fit, minmax(auto, 270px));
        gap: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main {
    .description {
      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        padding-top: 30px;
        padding-bottom: 46px;
      }
      &__item {
        padding: 12px 0 12px 67px;
        background-size: 42px;
        background-position: left center;
        text-align: left;
        &-title {
          margin-bottom: 2px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .banner {
      height: 470px;
      background-position: 35%;
    }
    .description {
      &__wrap {
        gap: 28px;
      }
    }
  }
}
