.main {
  .compare {
    &__titles {
      &-list {
        display: flex;
        border-bottom: 1px solid var(--border-color);
      }
      &-item {
        @include fontSize15;
        padding: 10px 34px;
        font-weight: 800;
        &:not(:last-child) {
          border-right: 1px solid var(--border-color);
        }
        &:first-child {
          width: 244px;
          padding: 10px 0;
        }
        &:nth-child(2) {
          width: 257px;
        }
        &:nth-child(3) {
          width: 222px;
        }
        &:nth-child(4) {
          width: 116px;
        }
      }
    }
    &__card {
      &-list {
        height: 660px;
      }
      &-item {
        &:not(:first-child) {
          border-top: 1px solid var(--border-color);
        }
        .card-item {
          &__link {
            display: flex;
          }
          &__photo {
            &-wrap {
              padding: 13px 0px;
              margin: 20px 32px 20px 0;
            }
          }
          &__description {
            &-wrap {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 0 34px;
              border-width: 1px;
              border-style: solid;
              border-color: transparent var(--border-color) transparent var(--border-color);
              .not-clicked-rate-wrap {
                margin-bottom: 15px;
              }
            }
            &-stock {
              padding-left: 0;
              display: block;
              width: 153px;
              line-height: 22px;
              &-wrap {
                padding: 0 34px;
              }
            }
            &-text {
              width: 188px;
            }
          }
          &__button {
            padding: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../../../img/basket.svg');
            width: 43px;
            height: 43px;
          }
        }
        &-brand {
          display: flex;
          align-items: center;
          padding: 0px 34px;
          border-width: 1px;
          border-style: solid;
          border-color: transparent var(--border-color) transparent var(--border-color);
          &-text {
            @include fontSize13;
            font-weight: 800;
          }
        }
        &-stats {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 34px;
          &-text {
            @include fontSize13;
            span {
              font-weight: 800;
            }
            &:not(:last-child) {
              margin-bottom: 13px;
            }
          }
        }
      }
    }
  }
}