.main {
  .compare {
    &__tabs {
      &-list {
        @include tabsList;
      }
    }
    &__tab {
      &-wrap {
        display: flex;
        .swiper-compare {
          width: 100%;
        }
        .swiper-button {
          @include swiperArrowsIndexPage;
          &-next,
          &-prev {
            top: 15%;
          }
          &-prev {
            left: -8px;
          }
        }
      }
      &-list {
        &:first-child {
          width: 334px;
          z-index: 1;
          .compare__tab-item-wrap {
            &:first-child {
              height: 416px;
            }
          }
        }
        &:last-child {
          .compare__tab-item-wrap {
            &:nth-child(2) {
              padding-top: 63px;
            }
            &:nth-child(3) {
              padding-bottom: 20px;
            }
            &:nth-child(4) {
              padding-top: 28px;
            }
            &:nth-child(5) {
              padding-top: 63px;
              padding-bottom: 27px;
            }
            &:last-child {
              padding-top: 63px;
            }
          }
        }
      }
      &-item {
        &-title {
          @include fontSize15;
          font-weight: 800;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
        &-text {
          @include fontSize13;
          &:not(:last-child) {
            margin-bottom: 22px;
          }
          &--bold {
            @include fontSize13;
            font-weight: 700;
          }
        }
        &-wrap {
          padding: 26px 0;
          background-color: var(--white-color);
          .cards-item {
            &:hover {
              box-shadow: none;
            }
          }
          .cards-item__rate-wrap {
            margin-bottom: 0;
          }
          &:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
          }
        }
      }
    }
  }
}