.main {
  .license {
    &__item {
      max-width: 948px;
      &-title {
        margin-bottom: 15px;
        font-weight: 700;
      }
      &-text {
        line-height: 28px;
        &:not(:last-child) {
          margin-bottom: 55px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 90px;
      }
    }
  }
}
