.main {
  .license {
    &__item {
      max-width: 948px;
      &-title {
        @include fontSize18;
        margin-bottom: 5px;
      }
      &-text {
        @include fontSize15;
        font-weight: 500;
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 90px;
      }
    }
  }
}
