.main {
  .contacts {
    &__title {
      margin-bottom: 70px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    &__item {
      padding-top: 87px;
      width: 370px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 70px;
      &:nth-child(1) {
        background-image: url("../../../img/call-us.png");
      }
      &:nth-child(2) {
        background-image: url("../../../img/feedback.png");
      }
      &:last-child {
        background-image: url("../../../img/office.png");
      }
      &-title {
        @include fontSize20;
        margin-bottom: 14px;
        font-weight: 900;
      }
      &-text {
        margin-bottom: 25px;
      }
      &-link {
        @include contentButton;
        padding: 8px 20px;
        margin-top: auto;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1365px) {
  .main {
    .contacts {
      &__list {
        flex-direction: column;
        gap: 70px;
      }
      &__item {
        width: 540px;
        padding-top: 0;
        padding-left: 87px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .contacts {
      &__list {
        gap: 60px;
      }
      &__item {
        width: 100%;
        padding-top: 87px;
        padding-left: 0;
      }
    }
  }
}
