.main {
  // background-image: url('../../../img/remington-background.png');
  // background-repeat: no-repeat;
  // background-size: 100%;
  padding-bottom: 142px;
  .remington {
    &__tabs {
      &-list {
        @include tabsMiniList;
        margin-bottom: 38px;
      }
    }
    &__tab {
      &-list {
        display: none;
        flex-wrap: wrap;
        gap: 35px;
        &.is-open {
          display: flex;
        }
      }
      &-item {
        padding: 20px 0;
        width: 260px;
        border-radius: 20px;
        background-color: var(--white-color);
        cursor: pointer;
        &-img {
          width: 78%;
          display: block;
          margin: 0 auto;
          object-fit: scale-down;
          mix-blend-mode: multiply;
        }
        &-text {
          @include fontSize14;
          font-weight: 700;
          text-align: center;
        }
      }
    }
  }
}