.main {
  padding-bottom: 142px;
  .banner {
    background-image: url('../../../img/remington-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 312px;
  }
  .remington {
    &__tabs {
      &-list {
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
        border-bottom: unset;
      }
      &-item {
        padding: 12px 0px;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 35px;
        }
        &.is-active {
          border-bottom: 3px solid var(--black-color);
        }
      }
    }
    &__tab {
      &-list {
        display: none;
        flex-wrap: wrap;
        gap: 16px;
        &.is-open {
          display: flex;
        }
      }
      &-link {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      &-item {
        padding: 31px 0;
        width: 260px;
        background-color: var(--lightness-white-color);
        cursor: pointer;
        &-img {
          width: 78%;
          display: block;
          margin: auto auto 20px auto;
          object-fit: scale-down;
        }
        &-text {
          @include fontSize14;
          margin-top: auto;
          font-weight: 700;
          text-align: center;
        }
      }
    }
  }
}