// body {
//   overscroll-behavior: none;
//   background-color: var(--black-color);
// }
// section {
//   padding-top: 0;
//   padding-bottom: 0;
// }
// .header {
//   padding: 32px 0;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: #f0ebe1;
//   z-index: 1;
//   opacity: 0;
//   animation: ani 2.5s forwards;
//   .hamburger-lines {
//     display: none;
//   }
//   &__wrap {
//     display: flex;
//     justify-content: center;
//   }
//   &__list {
//     display: flex;
//   }
//   &__item {
//     &:not(:last-child) {
//       margin-right: 40px;
//     }
//   }
//   &__link {
//     position: relative;
//     font-weight: 700;
//     &:hover {
//       &::after {
//         width: 100%;
//       }
//     }
//     &::after {
//       content: "";
//       width: 0;
//       height: 1px;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background-color: var(--black-color);
//       transition: width 0.2s ease;
//     }
//   }
// }
// .main {
//   padding-top: 89px;
//   padding-bottom: 0;
//   opacity: 0;
//   animation: ani 2.5s forwards;
//   #content {
//     will-change: transform;
//   }
//   .banner {
//     height: 100vh !important;
//     .parallax-img {
//       top: 0 !important;
//     }
//     &__logo {
//       margin-bottom: 70px;
//       max-width: 634px;
//       z-index: 1;
//     }
//     &__button {
//       @include contentButton;
//       @include fontSize15;
//       padding: 22px 36px;
//       background-color: #f0ebe1;
//       z-index: 1;
//     }
//     &__wrap {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//     }
//     &__bot {
//       position: absolute;
//       bottom: 93px;
//       left: 50%;
//       width: 55px;
//       height: 55px;
//       border: 3px solid #f0ebe1;
//       border-radius: 100px;
//       background-image: url("../../../img/arrow-down-white.svg");
//       background-repeat: no-repeat;
//       background-position: center;
//       transform: translate(-50%, 0);
//       z-index: 1;
//     }
//   }
//   .swiperblock {
//     padding-top: 75px;
//     padding-bottom: 140px;
//     background-color: #251f07;
//     &__title {
//       @include fontSize35;
//       color: #f0ebe1;
//     }
//     &__item {
//       padding: 21px 34px;
//       height: 630px;
//       background-color: #f0ebe1;
//     }
//     &__link {
//       width: 100%;
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//     }
//     &__img {
//       width: 360px;
//       max-height: 524px;
//       height: 100%;
//       object-fit: contain;
//       align-self: center;
//     }
//     &__text {
//       @include fontSize15;
//       font-weight: 800;
//       margin-top: auto;
//     }
//   }
//   .shoes {
//     background-color: #f0ebe1;
//     .swiperblock__title {
//       color: #251f07;
//     }
//     .swiperblock__item {
//       background-color: var(--white-color);
//     }
//   }
//   .img-container {
//     position: relative;
//     overflow: hidden;
//     height: 80vh;
//     display: flex;
//     align-items: center;
//     &.background--black {
//       color: #f0ebe1;
//       background-color: #251f07;
//       a {
//         color: #f0ebe1;
//         &::before {
//           background-color: #f0ebe1;
//         }
//       }
//     }
//     &.background--white {
//       color: #251f07;
//       background-color: #f0ebe1;
//       a {
//         color: #251f07;
//         &::before {
//           background-color: #251f07;
//         }
//       }
//     }
//     .parallax-img {
//       width: 60vw;
//       position: absolute;
//       height: 120%;
//       bottom: 0;
//       object-fit: cover;
//       &--full {
//         width: 100%;
//       }
//     }
//     .description {
//       padding: 68px 0;
//       display: flex;
//       flex-direction: column;
//       margin-left: auto;
//       width: 30vw;
//       &__title {
//         @include fontSize35;
//         margin-bottom: 35px;
//         z-index: 1;
//       }
//       &__list {
//         z-index: 1;
//       }
//       &__item {
//         &:not(:last-child) {
//           margin-bottom: 15px;
//         }
//       }
//       &__link {
//         @include fontSize18;
//         position: relative;
//         height: 100%;
//         font-weight: 800;
//         &::before {
//           content: "";
//           position: absolute;
//           bottom: -5px;
//           left: 0;
//           width: 0;
//           height: 1px;
//           transition: width 0.5s ease;
//         }
//         &:hover {
//           &::before {
//             width: 100%;
//           }
//         }
//       }
//     }
//   }
//   .optics {
//     .description {
//       margin-left: 17%;
//     }
//     .parallax-img {
//       width: 42vw;
//       max-height: 50vh;
//       right: 10%;
//     }
//   }
//   .care {
//     .parallax-img {
//       width: 42vw;
//       max-height: 50vh;
//       left: 10%;
//     }
//   }
//   .tourism {
//     background-color: #142507;
//   }
//   .swiper-button {
//     @include swiperArrowsIndexPage;
//     &-prev,
//     &-next {
//       top: 50%;
//       width: 55px;
//       height: 55px;
//       background-color: #505420;
//       &::after {
//         content: "";
//         width: 17px;
//         height: 11px;
//         background-image: url("../../../img/arrow-down-white.svg");
//         background-repeat: no-repeat;
//       }
//     }
//     &-next {
//       right: 10px;
//     }
//     &-prev {
//       left: 10px;
//     }
//     &-disabled {
//       display: none;
//     }
//   }
// }
// @keyframes ani {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @media only screen and (max-width: 1365px) {
//   .header {
//     &__item {
//       &:not(:last-child) {
//         margin-right: 20px;
//       }
//     }
//   }
//   .main {
//     .swiperblock {
//       &__item {
//         height: 525px;
//       }
//       &__img {
//         max-height: 411px;
//       }
//     }
//     .img-container {
//       .parallax-img {
//         width: 55vw;
//         &--full {
//           width: 100%;
//         }
//       }
//       .description {
//         width: 35vw;
//       }
//     }
//     .optics {
//       .parallax-img {
//         right: 0;
//       }
//     }
//     .care {
//       .parallax-img {
//         left: 0;
//       }
//     }
//   }
// }
// @media only screen and (max-width: 1023px) {
//   .header {
//     background-color: #1c180f;
//     &__list {
//       opacity: 0;
//       visibility: hidden;
//       position: absolute;
//       top: 86px;
//       left: 0;
//       width: 100%;
//       background-color: #f0ebe1;
//       padding: 55px 0;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 15px;
//     }
//     &__item {
//       &:not(:last-child) {
//         margin-right: 0;
//       }
//     }
//     .hamburger-lines {
//       margin: 0 auto;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       height: 22px;
//       width: 28px;
//       z-index: 2;
//       .line {
//         display: block;
//         height: 3px;
//         width: 100%;
//         background: var(--white-color);
//       }
//       .line1 {
//         transform-origin: 0% 0%;
//         transition: transform 0.4s ease-in-out;
//       }
//       .line2 {
//         transition: transform 0.2s ease-in-out;
//       }
//       .line3 {
//         transform-origin: 0% 100%;
//         transition: transform 0.4s ease-in-out;
//       }
//       &.is-active {
//         .line1 {
//           transform: rotate(45deg);
//         }
//         .line2 {
//           transform: scaleY(0);
//         }
//         .line3 {
//           transform: rotate(-45deg);
//         }
//       }
//     }
//   }
//   .main {
//     padding-top: 86px;
//     .img-container {
//       .description {
//         width: 40vw;
//       }
//     }
//     .banner {
//       &__logo {
//         max-width: 485px;
//         margin-bottom: 40px;
//       }
//     }
//     .swiperblock {
//       padding-top: 40px;
//       padding-bottom: 80px;
//       &__item {
//         padding: 15px 25px;
//         height: 440px;
//       }
//       &__img {
//         max-height: 373px;
//       }
//     }
//     .optics {
//       .description {
//         margin-left: 10%;
//       }
//     }
//   }
// }
// @media only screen and (max-width: 767px) {
//   .main {
//     .img-container {
//       &:not(.banner) {
//         padding: 50px 16px 40px;
//         display: block;
//         height: unset;
//       }
//       .description {
//         width: 100%;
//         padding: 0;
//       }
//       .parallax-img {
//         &:not(.parallax-img--full) {
//           margin-bottom: 30px;
//           position: relative;
//           width: 100%;
//           height: 234px;
//           transform: unset !important;
//         }
//       }
//     }
//     .banner {
//       &__logo {
//         max-width: 288px;
//         margin-bottom: 32px;
//       }
//     }
//     .swiperblock {
//       padding-bottom: 60px;
//       &__item {
//         padding: 11px 22px;
//         height: 300px;
//       }
//       &__img {
//         max-height: 237px;
//       }
//     }
//     .optics {
//       .description {
//         margin-left: 10%;
//       }
//     }
//   }
// }

.header {
  padding: 40px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../img/remington-banner-parallax.jpg");
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 40px;
    margin-bottom: 313px;
  }
  &__logo {
    max-width: 634px;
    margin-bottom: 347px;
  }
  &__link {
    @include fontSize14;
    padding: 10px 15px;
    font-weight: 800;
    border-radius: 100px;
    color: #f0ebe1;
    &.link-back {
      background-color: #f0ebe1;
      color: var(--black-color);
    }
    &-bottom {
      width: 50px;
      height: 50px;
      border: 3px solid #f0ebe1;
      border-radius: 100px;
      background-image: url("../../../img/arrow-down-white.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, 0);
    }
  }
}
.main {
  padding: 0;
  section {
    padding-top: 72px;
    padding-bottom: 82px;
    &.category--right {
      padding: 0;
      h2 {
        margin-bottom: 40px;
      }
      .category {
        &__img {
          &-big {
            width: 62%;
            margin-right: 5%;
          }
        }
        &__link {
          color: #f0ebe180;
        }
        &__item {
          span {
            color: #f0ebe180;
          }
        }
      }
    }
    &.category--left {
      .category {
        &__img {
          &-big {
            width: 61%;
            border-radius: 20px;
          }
        }
        &__link {
          color: #251f0799;
          &-big {
            border: 2px solid #251f07;
            color: #251f07;
          }
        }
        &__item {
          span {
            color: #251f0799;
          }
        }
        &__left {
          max-width: 457px;
          margin-right: 6%;
        }
      }
    }
  }
  .category {
    background-color: #f0ebe1;
    &.category--black {
      background-color: #251f07;
      .category__title,
      .category__name {
        color: #f0ebe1;
      }
    }
    .swiper-button {
      @include swiperArrowsIndexPage;
      &-next,
      &-prev {
        background-color: #505420;
        &::after {
          background-image: url("../../../img/swiper-arrow-white.svg");
        }
      }
    }
    &__title {
      @include fontSize30;
      margin-bottom: 28px;
    }
    &__link {
      @include fontSize18;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      &-big {
        @include fontSize16;
        display: inline-block;
        padding: 18px 30px;
        border: 2px solid #f0ebe180;
        border-radius: 100px;
        color: #f0ebe1;
      }
    }
    &__img {
      margin-bottom: 15px;
    }
    &__name {
      @include fontSize18;
    }
    &__content {
      display: flex;
      align-items: flex-end;
    }
    &__right {
      max-width: 450px;
      padding-bottom: 70px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 0;
      margin-bottom: 50px;
    }
    &__item {
      display: flex;
      span {
        @include fontSize18;
        font-weight: 600;
        margin: 0 5px;
      }
    }
  }
}
